<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<!--上边页头 -->
<div class="navbar  navbar-fixed-top" style="height: 82px; background-color: #273040;">
    
    <div style="width:10% ; position:static;float: left;vertical-align: middle;text-align:center; margin-top: 14px;">
    	<img alt="" src="../img/LOGO.png" />
    </div>
    <div style="width:90%">
    	<div style="position:static;float: left; vertical-align: middle; margin-top: 35px;">
    		<img id="yunweilogo" alt="" src="">
    	</div>
    
    	<div style="positon:static;float: right;vertical-align: middle;margin-top:40px;">
    		
    			<span ng-if="ROLE_ID_GROUP_CREATOR" style="color:#FFFFFF">欢迎    {{username}}</span>
    			
    			<a ng-show="LogoOut" ng-click="LogOut_fn();">退出</a>
    		
    	</div>
    
    	
    </div>
    
</div>
</html>