<!DOCTYPE html>
<html lang="en">
<head><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>门户</title>
    <!-- Bootstrap -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="../js/docs.min.js"></script>
    <link href="../dist/css/patch.css" rel="stylesheet">
    <link href="../css/zhangxing.css" rel="stylesheet">
    <link href="../dist/css/docs.min.css" rel="stylesheet">
    <!--[if lt IE 9]>-->
    <script src="../js/ie8-responsive-file-warning.js"></script>
    <!--<![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>
    <script src="../js/angular.min.js"></script>

</head>
<body ng-app="myapp" ng-controller="myController">
<div class="head">
    <div class="leftdiv">
        <img class="head_logo" src="../img/logopic.png">
        <div class="head_search">
            <img class="search_logo" src="../img/search.png">
            <input type="text" class="head_search_input" id="" placeholder="请输入关键词">
        </div>
    </div>
   <div class="rightdiv">
       <div class="leftsth">
           <div class="userinfo_area">
               <div class="user_pic"><img data-src="holder.js/35x35" class="img-circle"></div>
               <div class="user_name" id="username">哈密690371344</div>
           </div>
           <div class="fenge">|</div>
           <div class="logout">登出</div>
       </div>
       <div class="rightsth">

       </div>
   </div>
</div>
<div class="banner">
    <div class="bannertitle">媒体PaaS平台</div>
    <div class="bannertitledesc">大洋PaaS平台是基于全新一代移动互联网技术，通过平台化和组件化的方式，帮助企业快速、低成本进行数字化转型的基础IT平台。支撑公司级业务流程的标准化管理和应用灵活扩展。</div>
</div>
<div class="paasArea">
    <div class="paastitle">
        <div class="cntitle">媒体PaaS平台</div>
        <div class="entitle">MEDIA PAAS PLATFORM</div>
    </div>
    <div class="paasmodel">
        <div class="package">
        	<a href="#" ng-if="isadmin == 1">
	            <div class="childModel" style="margin-left: 9px;">
	                <img src="../img/usermanager.png" class="modelPic">
	                <div class="Modeltext">
	                    <div class="descripition">统一用户管理</div>
	                    <div class="descripition_introduce">管理租户内的用户用户组织机构管理、权限</div>
	                </div>
	            </div>
            </a>
            <a href="#" ng-if="isadmin == 1">
	            <div class="childModel" style="margin-left: 6px;">
	                <img src="../img/oneselfservice.png" class="modelPic">
	                <div class="Modeltext">
	                    <div class="descripition">租户自服务</div>
	                    <div class="descripition_introduce">租户使用系统查看产品、购买产品、查看订单</div>
	                </div>
	            </div>
            </a>
            <a href="index_lzf.html" ng-if="isyunwei == 1">
	            <div class="childModel" style="margin-left: 6px;">
	                <img src="../img/yunweimanage.png" class="modelPic">
	                <div class="Modeltext">
	                    <div class="descripition">运维管理</div>
	                    <div class="descripition_introduce">根据租户订单情况，创建应用实例;导入、导出、修改产品模板</div>
	                </div>
	            </div>
            </a>
            <a href="ProductList.html" ng-if="isyunyin == 1">
	            <div class="childModel" style="margin-left: 6px;">
	                <img src="../img/yunyinmanage.png" class="modelPic">
	                <div class="Modeltext">
	                    <div class="descripition">运营管理</div>
	                    <div class="descripition_introduce">运营人员修改产品发布状态，租户下单情况、审核订单</div>
	                </div>
	            </div>
	        </a>
        </div>
    </div>
</div>
<div class="creArea">
    <div class="cretitle">
        <div class="crecntitle">CRE-融合资源平台</div>
        <div class="creentitle">CONVERGED RESOURCE ENVIRONMENT</div>
    </div>
    <div class="cremodel">
    	<div class="cremodelrow" ng-repeat="x in rows">
    		<div class="crechildnode" ng-repeat="n in x track by $index">
    		<a href="{{n.moduleUrl}}" style="text-decoration: none;">
                <div class="imagearea">
                    <img src="data:image/png;base64,{{n.moduleImgName}}"  class="img-circle imgclass">
                </div>
                <div class="cretextarea">
                    <div class="title">{{n.moduleName}}</div>
                    <div class="desc">{{n.moduleDes}}</div>
                </div>
            </a>
            </div>
    	</div>
    </div>
    <div class="nullarea"></div>
</div>

<div class="newsArea">
    <div class="paastitle">
        <div class="cntitle">大洋新闻</div>
        <div class="entitle">NEWS</div>
    </div>
    <div class="newmodel">
        <div class="newrow">
            <div class="newnode">
                <div class="node">
                    <div class="img"><img src="../img/baoti.png"></div>
                    <div class="text">
                        <div class="texttitle">报题管理</div>
                        <div class="textdesc">报题管理介绍报题管理报题管理介绍报题管理报题管理介绍</div>
                    </div>
                </div>
            </div>
            <div class="newnode">
                <div class="node">
                    <div class="img"><img src="../img/single.png"></div>
                    <div class="text">
                        <div class="texttitle">串联单编排</div>
                        <div class="textdesc">电视串联单管理、电视串联单管理</div>
                    </div>
                </div>
            </div>
            <div class="newnode">
                <div class="node">
                    <div class="img"><img src="../img/gaojian.png"></div>
                    <div class="text">
                        <div class="texttitle">稿件</div>
                        <div class="textdesc">管理租户内的用户用户组织结构用户组织结构管理、权限</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newrow">
            <div class="newnode">
                <div class="node">
                    <div class="img"><img src="../img/tongji.png"></div>
                    <div class="text">
                        <div class="texttitle">统计</div>
                        <div class="textdesc">管理新媒体发布，管理新媒体发布管理新媒体发布管理新媒体发布</div>
                    </div>
                </div>
            </div>
            <div class="newnode">
                <div class="node">
                    <div class="img"><img src="../img/newmedia.png"></div>
                    <div class="text">
                        <div class="texttitle">新媒体发布</div>
                        <div class="textdesc">管理新媒体发布，管理新媒体发布管理新媒体发布管理新媒体发布</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="link">
        <!--<div class="linkarea">-->
            <!--<div class="linkmodel">-->
                <!--<div class="alink">工具</div>-->
            <!--</div>-->
            <!--<div class="linkmodel">-->
                <!--<div class="alink">数据</div>-->
            <!--</div>-->
            <!--<div class="linkmodel">-->
                <!--<div class="alink">开发中心</div>-->
            <!--</div>-->
            <!--<div class="linkmodel">-->
                <!--<div class="alink">关于我们</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="linkarea">-->
            <!--<div class="linkmodel">-->
                <!--<div class="alink"><a href="http://www.baidu.com">百度一下</a></div>-->
            <!--</div>-->
            <!--<div class="linkmodel">-->
            <!--</div>-->
            <!--<div class="linkmodel">-->
            <!--</div>-->
            <!--<div class="linkmodel">-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="fengefu"></div>
</div>
</body>
<script type="text/javascript">
	var app=angular.module("myapp",[]);
	var url="/rest/productService/getIndexPageElement/";
	var userinfo;
	app.controller('myController', function($scope,$http) {
		//获取用户信息
    	$http.get("/obtainUserInfo").success(function(response){
    		userinfo=response;
    		$('#username').html(response.name);
    		$http.get(url+userinfo.username).success(function (response){
    			var i=0,j=0;
    			var paasSubserviceslist=new Array();
    			var paasTemplateFilelist=new Array();
    			$(response).each(function(index,element){
    				$(element.paasSubservices).each(function(index,element){
    					paasSubserviceslist[i]=element;
    					i++;
    				});
    				$(element.paasTemplateFile).each(function(index,element){
    					paasTemplateFilelist[j]=element;
    					j++;
    				});
    			});
    			for(var subi=0;subi<(i);subi++)
    			{
    				var modelid=paasSubserviceslist[subi].id;
    				for(var filei=0;filei<(j);filei++)
    				{
    					if(paasTemplateFilelist[filei].moduleId!=null &&paasTemplateFilelist[filei].moduleId==modelid)
    					{
    						paasSubserviceslist[subi].moduleImgName=paasTemplateFilelist[filei].file;
    					}
    				}
    			}
    			var rows=new Array();
    			for(var n=0;n < parseInt(parseInt(paasSubserviceslist.length/4)+1);n++)
    			{
    				rows[n]=new Array();
    				for(var m=0;m<4;m++)
    				{
    					var start=n*4+m;
    					if(start>(i-1))
    					{
    						break;
    					}else
    					{
    						rows[n][m]=paasSubserviceslist[start];						
    					}
    				}
    			};
    			$scope.rows=rows;
    		});
    		$http.get("/rest/productService/getusersprivilegeIdList/"+userinfo.username).success(function (response){
    			console.log(response);
    			var isadmin=0;
    			if(response.indexOf("PID_SYSTEM_ADMIN")!=-1)
    			{
    				isadmin=1;
    			}
    			$scope.isadmin=isadmin;
    			var isyunwei=0;
    			if(response.indexOf("PID_SYSTEM_OPERATION")!=-1)
    			{
    				isyunwei=1;
    			}
    			$scope.isyunwei=isyunwei;
    			var isyunyin=0;
    			if(response.indexOf("PID_BUSINESS_OPERATION")!=-1)
    			{
    				isyunyin=1;
    			}
    			$scope.isyunyin=isyunyin;
    		});
    	});
	});
	app.config(function($compileProvider){//配置这段代码即可
        //注:有些版本的angularjs为$compileProvider.urlSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|javascript):/);,两种都试一下可以即可
        $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|javascript):/);
    });
</script>
</html>