<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>订单列表</title>
    <!-- Bootstrap -->
    <!--<link href="../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <!--<link href="../dist/css/patch.css" rel="stylesheet">-->
    <!--<link href="../dist/css/docs.min.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
    <!--<script src="../js/ie8-responsive-file-warning.js"></script>-->
    <![endif]-->
    <!--<script src="../js/ie-emulation-modes-warning.js"></script>-->
    <style>
        .modal{
            margin-top: 5%;
        }
        .tabclost{
            width: 10px;
            height: 10px;
            float: right;
            position: relative;
            z-index: 10;
            margin-right: 6px;
        }
    </style>
    <!--<script src="../js/angular.min.js"></script>-->
</head>
<body>
<ul id="myTab" class="nav nav-tabs" style="background-color: #F7F7F7;border-bottom: 2px solid #F7F7F7;">
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <li id="OrderListTab" class="active">
    	<a href="#OrderList" id="cententa" data-toggle="tab" style="width: 190px;height: 70px; border-top:2px solid #3f8dce; border-left: none;border-right: none;" onclick="changeothstyle()">
    	<img src="../img/prounchecked.png" style="float: left; margin-left: 20px;margin-top: 13px;"/>
    	<div style=" margin-top: 13px;font-family:方正兰亭黑简体;font-size: 20px;color: #5e6575;">
    		订单列表
    	</div>
    	</a>
    </li>
    <li id="OrderPassTab" class="hidden">
    	<span class="tabclost">
    		<a href="javascript:hiddenTab()">&times;</a>
    	</span>
    	<a href="#OrderPass" id="editproducta" data-toggle="tab" style="width: 190px;height: 70px;"  onclick="changestyle()">
    		<img src="../img/prounchecked.png" style="float: left; margin-left: 20px;margin-top: 13px;"/>
	    	<div style=" margin-top: 13px;font-family: 方正兰亭黑简体;font-size: 20px;color: #5e6575;">
	    		订单审核
	    	</div>
	    </a>
    </li>
</ul>
<h1 style="margin-top: 3%;width: 200px; margin-left: 11%;"></h1>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="OrderList">
        <!-- 数据查询模块 -->
        <form class="form-inline" style="text-align: right; margin-right: 1%;">
            <div class="form-group">
<!--                 <label for="exampleInputName2">按租户名称查询</label> -->
                <input type="text" class="form-control" id="TenantName" ng-model="TenantName" placeholder="租户名称（回车查询）">
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuStatue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <h id="dropdownMenuStatuetitle" ng-model="statue" data="">按状态过滤</h>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuStatue">
                        <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','按状态过滤','');">按状态过滤</a></li>
                        <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','待审核','0');">待审核</a></li>
                        <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','通过','1');">通过</a></li>
                        <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','驳回','2');">驳回</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputName2">起始时间</label>
                <input type="date" class="form-control" id="startDate" placeholder="按时间过滤" ng-model="startDate">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">结束时间</label>
                <input type="date" class="form-control" id="endDate" placeholder="按时间过滤" ng-model="endDate">
            </div>
            <button type="button" class="btn btn-primary" style="width: 100px;" id="selectBtn" ng-click="selectData()">查询</button>
        </form>
        <br>
        <!-- 数据展示模块 -->
        <table class="table table-bordered table-hover" style="width: 98%;margin-left: 1%;">
            <thead>
            <tr style="background-color: #f7f7f7;height: 56px; font-size: 20px;color: #333333;">
                <td width=";" style="text-align: center">订单ID</th>
                <td width=";" style="text-align: center">产品名称</th>
                <td width=";" style="text-align: center">下单时间</th>
                <td width=";" style="text-align: center">租户名称</th>
                <td width=";" style="text-align: center">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="order in datas" style="font-size: 17px;color: #666666;">
                <td style="text-align: center;"><a href="javascript:showinfo('{{order.id}}');">{{order.billNo}}</a></th>
                <td style="text-align: center">{{order.paasTemplate.templateName}}</td>
                <td style="text-align: center">{{order.crateDate|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td style="text-align: center">{{order.tenantName}}</td>
                <td style="text-align: center" ng-if="order.status==0">待审核</td>
                <td style="text-align: center" ng-if="order.status==1">通过</td>
                <td style="text-align: center" ng-if="order.status==2">驳回</td>
                <td style="text-align: center" ng-if="order.status==3">撤销</td>
            </tr>
            </tbody>
        </table>
        <br>
        <!-- 分页模块 -->
        <nav aria-label="Page navigation" style="text-align: right;margin-right: 1%;">
            <ul class="pagination">
               <li>
                    <a id="previous" href="javascript:void(0)" ng-click="changepage(previous)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li id="page{{pi}}" ng-repeat="pi in pageinfo"  repeat-finish="renderFinish()">
                	<a href="javascript:void(0)" ng-click="changepage(pi)">{{pi}}</a>
                </li>
                <li>
                    <a id="next" href="javascript:void(0)" ng-click="changepage(next)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tab-pane fade" id="OrderPass">
        <div class="modal-body">
        	<table class="table table-striped table-hover" style=" width: 50%;margin-left: 10%;font-size: 20px;color:#555555;">
	            <tbody>
	            <input type="hidden" value="" id="id">
	            <input type="hidden" value="" id="instanceId">
	            <tr style="margin-top: 15px;height: 50px;">
	                <th width=";" style="text-align: center" >订单ID</th>
	                <th width=";" style="text-align: center" id="OrderId"></th>
	            </tr>
	            <input type="hidden" value="" id="proid">
	            <tr style="margin-top: 15px;height: 50px;">
	                <th width=";" style="text-align: center">产品名称</th>
	                <th width=";" style="text-align: center" id="templateName"></th>
	            </tr>
	            <tr style="margin-top: 15px;height: 50px;">
	                <th width=";" style="text-align: center">下单时间</th>
	                <input type="hidden" value="" id="createDateNum">
	                <th width=";" style="text-align: center" id="CreateDate"></th>
	            </tr>
	            <tr style="margin-top: 15px;height: 50px;">
	                <th width=";" style="text-align: center">租户名称</th>
	                <th width=";" style="text-align: center" id="perTenantName"></th>
	            </tr>
	            <tr style="margin-top: 15px;height: 50px;">
	                <th width=";" style="text-align: center">状态</th>
	                <th width=";" style="text-align: center" id="statue"></th>
	            </tr>
	            <tr style="margin-top: 15px;height: 50px;">
	                <th width=";" style="text-align: center">理由</th>
	                <th width=";" style="text-align: center">
	                	<textarea class="form-control" rows="3" id="resion"></textarea>
	                </th>
	            </tr>
	            </tbody>
	        </table>
        </div>
        <div class="col-sm-offset-3 col-sm-6 modal-footer" style="width:282px;">
            <button type="button" class="btn btn-primary" onclick="hiddenTab()">关闭</button>
            <button type="button" id="passbtn" class="btn btn-success" ng-click="update(1)">通过</button>
            <button type="button" id="refursebtn" class="btn btn-warning" ng-click="update(2)">驳回</button>
        </div>
    </div>
</div>

</body>
<script>
    function changedropdown(id,title,value)
    {
        $('#'+id).html(title);
        $('#'+id).attr("data",value);
        $('#selectBtn').click();
    }
    function showinfo(orderid)
    {
        $(jsondatas.resultObj).each(function (index,element){
            if(element.id == orderid)
            {
            	console.log(element);
                $('#OrderId').html(element.billNo);
                $('#templateName').html(element.paasTemplate.templateName);
                var time2 = new Date(element.crateDate).Format("yyyy-MM-dd hh:mm:ss");
                $('#createDateNum').attr("value",element.crateDate);
                $('#CreateDate').html(time2);
                $('#perTenantName').html(element.tenantId);
                if(element.status == 0)
                {
                	$('#statue').html("待审核");                	
                }else if(element.status == 1)
                {
                	$('#statue').html("通过");
                }else if(element.status == 2){
                	$('#statue').html("驳回");
                }else
                {
                	$('#statue').html("撤销");
                }
                $('#resion').html(element.approveDescibe);
                $('#id').attr("value",element.id);
                $('#instanceId').attr("value",element.instanceId);
                $('#proid').attr("value",element.proId);
//                 $('#passbtn').attr("ng-click","update("+element.id+")");
//                 $('#refursebtn').attr("ng-click","update("+element.id+")");
            }
        });
        $('#OrderListTab').attr('class','');
        $('#OrderPassTab').attr('class','active');
        $('#OrderPass').attr('class','tab-pane fade in active');
        $('#OrderList').attr('class','tab-pane fade');
        changestyle();
    }
    function hiddenTab()
    {
        $('#OrderListTab').attr('class','active');
        $('#OrderPassTab').attr('class','hidden');
        $('#OrderPass').attr('class','tab-pane fade');
        $('#OrderList').attr('class','tab-pane fade in active');
        changeothstyle();
    }
    function changestyle()
    {
    	$('#cententa').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;");
     	$('#editproducta').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;border-top:2px solid #3f8dce;");
    }
    function changeothstyle()
    {
    	$('#cententa').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;border-top:2px solid #3f8dce;");
     	$('#editproducta').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;");
    }
    $('#TenantName').bind('keyup', function(event) {
		if (event.keyCode == "13") {
			$('#selectBtn').click();
		}
	});
</script>
</html>