<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>产品列表</title>
    <!-- Bootstrap -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <link href="../dist/css/patch.css" rel="stylesheet">
    <link href="../dist/css/docs.min.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>
    <style>
        .navbar{
            background-color: #000000;
        }
        .navbar-header.title{
            float: left;
            height: 45px;
        }
        .navbar-header.search{
            float: left;
            width: 15%;
            height: 35px;
            margin-top: 6px;
            margin-left: 10px;
        }

    </style>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myController" style="padding: 0 0;">
<!-- header -->
	<div style="width:100%;float:left;">
       <div ng-include="'../pages/head.html'"></div>
    </div>
<div style="float: left;position: relative; width: 10%;height: 80rem; background-color: #21242B;" id="leftiframe" ng-include="'Left.html'">

</div>
<div style="border:2px solid #F7F7F7;float: left;text-align: center;position: relative;margin-top:2%;margin-left:20px; width: 88%;margin-bottom: 2%;" id="rightiframe" ng-include="'ProductContent.html'">

</div>
<div style="position: relative;float: right; height: 40px; width: 100%; margin-bottom: 0px; margin-top: 0px; ">
    <!-- 下边页脚 -->
    <div style="background-color: #3d3d3d;height: 30px;clear: both;" >
        <h6 style="margin: 0;padding: 0;color: orange;font-style: italic;vertical-align: middle;text-align: center;">北京中科大洋科技发展股份有限公司@2017</h6>
    </div>
</div>
<!--<iframe style="float: left;position: relative;" src="Left.html" id="leftiframe" onload="changeFrameHeight()" width="18%" frameborder="no" border="0" scrolling="no">-->
<!--</iframe>-->
<!--<iframe style="float: right;text-align: center;position: relative;margin-right: 2%;" width="78%" id="rightiframe"  src="ProductContent.html" frameborder="no" border="0" scrolling="no">-->
<!--</iframe>-->
</body>
<script>
    var app=angular.module("myapp",[]);
    var jsondatas;
    var url="/rest/productService/getAllproduct";
    var pagenum;
    app.controller('myController', function($scope,$http) {
    	request($http,url);
    	loadFilterInfo();
        $scope.selectData=function (templateName){
//         	var userMode=$('#dropdownMenuStatuetitle').html();
//         	var templateCategory=$('#dropdownMenuClasstitle').html();
			var userMode=($('#dropdownMenuStatuetitle').html()=="按状态过滤")?"":$('#dropdownMenuStatuetitle').html();
        	var templateCategory=($('#dropdownMenuClasstitle').html()=="按分类过滤")?"":$('#dropdownMenuClasstitle').html();
        	var geturl=url+"?ProductName="+templateName+"&userModel="+userMode+"&templateCategory="+templateCategory+"&page=1";
        	console.log(geturl);
        	request($http,geturl)
        };
        $scope.changepage=function(page){
        	if(page!="... " && page != " ...")
        	{
        		var templateName=$('#templateName').val();
            	var userMode=($('#dropdownMenuStatuetitle').html()=="按状态过滤")?"":$('#dropdownMenuStatuetitle').html();
            	var templateCategory=($('#dropdownMenuClasstitle').html()=="按分类过滤")?"":$('#dropdownMenuClasstitle').html();
            	var geturl=url+"?ProductName="+templateName+"&userModel="+userMode+"&templateCategory="+templateCategory+"&page="+page;
            	request($http,geturl);
        	}
        }
        function request($http,geturl)
        {
        	$http.get(geturl).success(function (response){
        		$scope.templateName=response.conditionObj.templateName;
            	$scope.userMode=response.conditionObj.userMode;
            	$scope.templateCategory=response.conditionObj.templateCategory;
                $scope.datas=response.resultObj;
                var pagestr=response.pageStr;
                var arry=pagestr.split(",");
                $scope.pageinfo=arry;
                pagenum=response.pagenum;
                $scope.next=response.next;
                $scope.previous=response.prev;
                $('.pagination li').each(function (index,element){
                	$(element).removeClass("active");
                });
                $('#page'+pagenum).addClass("active");
//                 var pagestr="";
//                 pagestr+='<li><a id="previous" href="javascript:void(0)" ng-click="changepage('+response.prev+')" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
//                 $(arry).each(function(index,element){
//                 	if(element == response.pagenum)
//                 	{
//                 		pagestr+='<li class="active"><a href="javascript:void(0)" ng-click="changepage('+element+')">'+element+'</a></li>';
//                 	}else
//                 	{
//                 		pagestr+='<li><a href="javascript:void(0)" ng-click="changepage('+element+')">'+element+'</a></li>';	
//                 	}
//                 });
//                 pagestr+='<li><a id="next" href="javascript:void(0)" ng-click="changepage('+response.next+')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
//                 $(".pagination").html(pagestr);
// 				$('#page'+pagenum).attr("class","active");
                jsondatas=response;
        	});
        }
        $scope.edittemplate=function()
        {
        	var id=$('#editProduct #id').val();
        	var templateId=$('#editProduct #modelId').val();
        	var Version=$('#editProduct #versionId').val();
        	var templateType=$('#editProduct #producttype').val();
        	var templateName=$('#editProduct #ProductName').val();
        	var templateCategory=$('#editProduct #productClass').val();
        	var isPub=($('#editProduct #ispub').is(":checked"))?1:0;
        	var editurl="/rest/productService/editProduct?id="+id+"&templateId="+templateId+"&Version="+Version+"&templateType="+templateType+"&templateName="+templateName+"&templateCategory="+templateCategory+"&isPub="+isPub;
        	$http.get(editurl).success(function(response){
        		console.log(response);
        		if(response.code == "success")
        		{
        			$('#myModal #myModalLabel').html(response.message);
        			$('#myModal').modal("show");
        		}
        	});
        }
        //加载页面过滤信息
        function loadFilterInfo()
        {
        	var filterurl="/rest/productService/getTypeAndCategory";
        	$http.get(filterurl).success(function(response){
        		$scope.UserModes=response.usermode;
        		$scope.CateGorys=response.category;
        	});
        }
    });
    app.directive('repeatFinish',function(){
        return {
            link: function(scope,element,attr){
            	if(parseInt(scope.$index)+1 == pagenum)
            	{
            		element.addClass("active");
            	}
            }
        }
    });
    app.config(function($compileProvider){//配置这段代码即可
        //注:有些版本的angularjs为$compileProvider.urlSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|javascript):/);,两种都试一下可以即可
        $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|javascript):/);
    });
</script>
</html>