<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>产品列表</title>
    <!-- Bootstrap -->
    <!--<link href="../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="../js/jquery.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <!--<link href="../dist/css/patch.css" rel="stylesheet">-->
    <!--<link href="../dist/css/docs.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash;[if lt IE 9]>
    <!--<script src="../js/ie8-responsive-file-warning.js"></script>-->
    <![endif]&ndash;&gt;-->
    <!--<script src="../js/ie-emulation-modes-warning.js"></script>-->
    <!--<script src="../js/angular.min.js"></script>-->
    <style>
        .modal{
            margin-top: 5%;
        }
        .tabclost{
            width: 10px;
            height: 10px;
            float: right;
            position: relative;
            z-index: 10;
            margin-right: 6px;
        }
        thead tr{
			height: 56px;
			font-size: 20;
			font-family: 微软雅黑; 
			text-align: center;       	
        }
        .passclass{
        	width: 180px;height: 40px; font-size: 20px; color: #458fe9; background-color: #f7f7f7; border: 1px solid #dcdedd;
        }
        .passclass:hover{
        	background-color:#377ed2;
        	color:#FFFFFF;
        }
    </style>
</head>
<body>
<ul id="myTab" class="nav nav-tabs" style="background-color: #F7F7F7;border: 2px solid #F7F7F7;">
    <li id="ProductListTab" class="active">
    	<a href="#Content" id="cententa" data-toggle="tab" style="width: 190px;height: 70px; border-left: none;border-right: none;border-top:2px solid #3f8dce;" onclick="changeothstyle()">
    		<img src="../img/appover.png" style="float: left; margin-left: 20px;margin-top: 13px;"/>
    		<div style=" margin-top: 13px;font-family: 方正兰亭黑简体;font-size: 20px;color: #5e6575;">产品列表</div>
    	</a>
    </li>
    <li id="editProductTab" class="hidden">
    	<span class="tabclost">
    		<a href="javascript:hiddenTab()">&times;</a>
    	</span>
    	<a href="#editProduct" id="editproducta" data-toggle="tab" style="width: 190px;height: 70px;" onclick="changestyle()">
	    	<img src="../img/bianji.png" style="float: left; margin-left: 20px;margin-top: 13px;"/>
	    	<div style=" margin-top: 13px;font-family: 方正兰亭黑简体;font-size: 20px;color: #5e6575;">编辑产品</div>
    	</a>
    </li>
</ul>
<h1 style="margin-top: 3%;width: 200px; margin-left: 11%;"></h1>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="Content">
        <!-- 数据查询模块 -->
        <form class="form-inline" style="text-align: right; margin-right: 1%;">
            <div class="form-group">
<!--                 <label for="exampleInputName2">按名称查询</label> -->
                <input type="text" class="form-control" placeholder="输入名称,回车查询" ng-model="templateName" id="templateName" style="height: 50px;width:250px; font-size: 16px;color: #333;background-color: #f7f7f7;">
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuStatue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 50px; font-size: 16px;color: #333; width:200px; background-color: #f7f7f7;">
                        <h id="dropdownMenuStatuetitle" ng-model="userMode" >按状态过滤</h>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuStatue">
                        <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','按状态过滤');">按状态过滤</a></li>
                        <li ng-repeat="userMode in UserModes"><a href="javascript:changedropdown('dropdownMenuStatuetitle','{{userMode}}');">{{userMode}}</a></li>
<!--                         <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','独享');">独享</a></li> -->
<!--                         <li><a href="javascript:changedropdown('dropdownMenuStatuetitle','共享');">共享</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuClass" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  style="height: 50px; width:200px; font-size: 16px;color: #333;background-color: #f7f7f7;">
                        <h id="dropdownMenuClasstitle" ng-model=templateCategory>按分类过滤</h>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuStatue">
                        <li><a href="javascript:changedropdown('dropdownMenuClasstitle','按分类过滤');">按分类过滤</a></li>
                        <li ng-repeat="cateGory in CateGorys"><a href="javascript:changedropdown('dropdownMenuClasstitle','{{cateGory}}');">{{cateGory}}</a></li>
<!--                         <li><a href="javascript:changedropdown('dropdownMenuClasstitle','新闻');">新闻</a></li> -->
<!--                         <li><a href="javascript:changedropdown('dropdownMenuClasstitle','故事');">故事</a></li> -->
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-primary hidden" id="selectBtn" ng-click="selectData(templateName);">查询</button>
        </form>
        <br>
        <!-- 数据展示模块 -->
        <table class="table table-bordered table-hover" style="width: 98%;margin-left: 1%;">
            <thead>
            <tr style="background-color: #f7f7f7;height: 56px; font-size: 20px;color: #333333;">
                <td width=";" style="text-align: center;">模板ID</th>
                <td width=";" style="text-align: center">版本号</th>
                <td width=";" style="text-align: center">产品名称</th>
                <td width=";" style="text-align: center">类型</th>
                <td width=";" style="text-align: center">分类</th>
                <td width=";" style="text-align: center">状态</th>
                <td width=";" style="text-align: center">是否已发布</th>
                <td width=";" style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="templates in datas" style="font-size: 17px;color: #666666;">
                <td style="text-align: center;text-align: center; padding-bottom: 0px;">{{templates.templateId}}</th>
                <td style="text-align: center">{{templates.version}}</td>
                <td style="text-align: center">{{templates.templateName}}</td>
                <td style="text-align: center">{{templates.templateType}}</td>
                <td style="text-align: center">{{templates.templateCategory}}</td>
                <td style="text-align: center">{{templates.userMode}}</td>
                <td style="text-align: center" ng-if="templates.isPub == 1">已发布</td>
                <td style="text-align: center" ng-if="templates.isPub == 0">未发布</td>
                <td style="text-align: center">
                    <div class="btn-group">
                        <a href="javascript:showeditmodel('{{templates.templateId}}')" class="btn btn-default" style="width: 150%;">编辑</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>

        <!-- 分页模块 -->
        <nav aria-label="Page navigation" style="text-align: right;margin-right: 1%;margin-top:0.1%">
            <ul class="pagination">
                <li>
                    <a id="previous" href="javascript:void(0)" ng-click="changepage(previous)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li id="page{{pi}}" ng-repeat="pi in pageinfo" repeat-finish="renderFinish()"> 
                	<a href="javascript:void(0)" ng-click="changepage(pi)">{{pi}}</a>
                </li>
                <li>
                    <a id="next" href="javascript:void(0)" ng-click="changepage(next)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tab-pane fade" id="editProduct" style=" width: 80%;">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="exampleInputName2" class="col-sm-2 control-label" style="margin-top: -5px;" ><div style="font-size: 20px; color: #555555; text-align: right; ">模板ID</div></label>
                <div class="col-sm-6">
                	<input type="hidden" id="id" value="">
                    <input type="text" class="form-control" id="modelId" placeholder="模板ID" Readonly style="font-size: 20px; color: #333333;">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-2 control-label"  style="margin-top: -5px;"><div style="font-size: 20px; color: #555555; text-align: right; ">版本号</div></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="versionId" placeholder="版本号" Readonly style="font-size: 20px; color: #333333;">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-2 control-label" style="margin-top: -5px;"><div style="font-size: 20px; color: #555555; text-align: right; ">类型</div></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="producttype" placeholder="类型" Readonly style="font-size: 20px; color: #333333;">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-2 control-label" style="margin-top: -5px;"><div style="font-size: 20px; color: #555555; text-align: right; ">产品名称</div></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ProductName" placeholder="产品名称" style="font-size: 20px; color: #333333;">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2" class="col-sm-2 control-label" style="margin-top: -5px;"><div style="font-size: 20px; color: #555555; text-align: right; ">分类</div></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="productClass" placeholder="分类" Readonly style="font-size: 20px; color: #333333;">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <div class="checkbox">
                        <label style="width: 30%;">
                            <input type="checkbox" id="ispub" style="margin-left: -70px; margin-top: 10px;"><div style="font-size: 20px; color: #555555;">向租户发布</div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-4 modal-footer" style="width:500px; height: 70px;margin-left: 9%;">
        	<input type="button" id="passbtn" ng-click="edittemplate()" value="提交" class="passclass">
        	<input type="button" id="passbtn" onclick="hiddenTab()" value="关闭" class="passclass">
<!--         	<button type="button" class="btn btn-success" ng-click="edittemplate()" style="width: 180px;height: 40px; font-size: 20px; color: #FFFFFF;">提交</button> -->
<!--             <button type="button" class="btn btn-primary" onclick="hiddenTab()" style="width: 180px;height: 40px; font-size: 20px; color: #FFFFFF;">关闭</button> -->
        </div>
    </div>
</div>
<!-- 自定义弹窗 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top: 15%;">
	<div class="modal-dialog" style="width: 460px;height: 230px;">
		<div class="modal-content" style="width: 460px;height: 230px;">
			<div style="margin-top: 60px;margin-left: 100px;margin-right: auto;">
				<div style="width: 60px;height: 60px;float: left;padding-top: 10px;"><img alt="" src="../img/waring2.png" style="height: 50px;width: 50px;"/></div>
				<div style="float: left;margin-left: 10px;"><h3><strong  id="myModalLabel" style="color: #333333;font-variant: small-caps;"></strong></h3></div>
			</div>
			<div style="margin-top: 160px;">
				<div ><button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 130px;height: 40px; margin: 0 auto;"><span style="font-size: 20px;">OK</span></button></div>
			</div>
				
		</div>
	</div>
</div>
<script>
    function changedropdown(id,title)
    {
        $('#'+id).html(title);
        $('#selectBtn').click();
    }
    function showeditmodel(id)
    {
        $(jsondatas.resultObj).each(function (index,element){
            if(element.templateId == id)
            {
                $('#id').attr("value",element.id);
                $('#modelId').attr("value",id);
                $('#versionId').attr("value",element.version);
                $('#producttype').attr("value",element.templateType);
                $('#ProductName').attr("value",element.templateName);
                $('#productClass').attr("value",element.templateCategory);
                if(element.isPub == '1')
                {
                    $('#ispub').attr("checked","true");
                }else
                {
                    $('#ispub').removeAttr("checked");
                }
            }
        })
        $('#ProductListTab').attr('class','');
        $('#editProductTab').attr('class','active');
        $('#editProduct').attr('class','tab-pane fade in active');
        $('#Content').attr('class','tab-pane fade');
        changestyle();
    }
    function hiddenTab()
    {
        $('#ProductListTab').attr('class','active');
        $('#editProductTab').attr('class','hidden');
        $('#editProduct').attr('class','tab-pane fade');
        $('#Content').attr('class','tab-pane fade in active');
        changeothstyle();
//         $('#cententa').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;")
//         $('#editproducta').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;border-top:2px solid #3f8dce;")
    }
    function changestyle()
    {
    	$('#cententa').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;");
     	$('#editproducta').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;border-top:2px solid #3f8dce;");
    }
    function changeothstyle()
    {
    	$('#cententa').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;border-top:2px solid #3f8dce;");
     	$('#editproducta').attr("style","width: 190px;height: 70px; border-left: none;border-right: none;");
    }
    $('#templateName').bind('keyup', function(event) {
		if (event.keyCode == "13") {
			$('#selectBtn').click();
		}
	});
</script>

<!--</html>-->