<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
<meta charset="UTF-8">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title></title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<!--<link rel="stylesheet" href="../dist/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../css/design.css">
<link href="../css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript"
	src="../js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../js/tree.js"></script>
<script type="text/javascript" src="../js/Listcontroller.js"></script>
<script type="text/javascript" src="../js/servicejs/logout.js"></script>
<script src="../js/auth/auth.js" type="text/javascript"></script>
<script type="text/javascript"
	src="../js/servicejs/tenantSelfServicemain.js"></script>
<!-- 接口js -->
<script type="text/javascript"
	src="../js/servicejs/tenantSelfinterface.js"></script>
<script>
        function changeFrameHeight(){
            var ifm= $("body");
            var divfm= $("#leftiframe");
            var heighbosy=window.screen.availHeight;
            var heightdiv=document.documentElement.clientHeight;
            ifm.css("height",heightdiv);
            divfm.css("height",heightdiv-100);
        }
        window.onload=function(){
            var heightdiv=document.documentElement.clientHeight;
            if(heightdiv<=800){
                var ifm= $("#leftiframe");
                ifm.css("height","800px");
            }else{
                changeFrameHeight();
            }
        }
</script>
<style>
.tabclost {
	width: 15px;
	height: 15px;
	float: right;
	position: relative;
	z-index: 10;
	margin-right: 6px;
	margin-top: 2px;
}

div.content_wrap {
	width: 40%;
	height: 90%;
}

div.content_wrap div.left {
	float: left;
	width: 410px;
}

div.content_wrap div.right {
	float: right;
	width: 340px;
}

div.zTreeDemoBackground {
	width: 40%;
	height: 362px;
	text-align: left;
}

ul.ztree {
	margin-top: 10px;
	border: 1px solid #617775;
	background: ;
	width: 220px;
	height: 90%;
	overflow-y: scroll;
	overflow-x: auto;
}

ul.log {
	border: 1px solid #617775;
	background: #f0f6e4;
	width: 300px;
	height: 170px;
	overflow: hidden;
}

ul.log.small {
	height: 45px;
}

ul.log li {
	color: #666666;
	list-style: none;
	padding-left: 10px;
}

ul.log li.dark {
	background-color: #E3E3E3;
}
.ztree li{padding:0; margin:8px; list-style:none; line-height:14px; text-align:left; white-space:nowrap; outline:0}

.ztree li a:hover {
	text-decoration: none
}

.ztree li span.button.roots_open {
	background-position: -92px 0
}
.ztree li span {font-size: 16px;font-family: Microsoft YaHei;color: #333333;}
</style>
</head>
<body ng-app="listApp" ng-controller="ListCtrl" text="black"
	style="height: auto; padding-bottom: 0px;padding-top: 0px;height: 100%;" >
	<!--上边页头 -->
	<div ng-include="'../pages/header2.html'" style=""></div>
	<!--页面中间-->
	<div id="leftiframe" style="height: 90%; padding: 0px;"ng-model="tenantId">
		<table class="table table-bordered"
			style="margin-bottom: 0px;margin-top:0px; border: none; height: 100%;padding: 0px;">
			<tbody style="border: none; height: 100%">
				<tr style="border: none; height: 100%">
					<!--左边导航栏 -->
					<td
						style="width: 8.8%; background-color: #21242b; border: none; padding: 0px; height: 100%;border-top: 1px solid;border-bottom: 1px solid">
						<div id="solso-sidebar" style="width: 100%; padding: 0px;border: none;">
							<div style="width: 170px;"></div>
							<div class="panel-group" id="accordion">
								<div style="border-bottom: 1px solid #34373e;height: 138px; padding-top: 40px;cursor: pointer;" ng-click="nListOfGoods()" ng-mouseover="appover()"
								ng-show="chanpincaidan1" ng-init="chanpincaidan1=false"
								ng-mouseleave="appleave()">
									<div ng-show="templateShowpng1" ng-init="templateShowpng1='true'" ng-model="templateShowpng1"
										style="width: 27px; height: 27px; background-color: #21242b; margin-left: auto; margin-right: auto;">
										<img alt="" src="../img/templateShow.png" />
									</div>
									<div ng-show="templateShowpng2" ng-model="templateShowpng2"
										style="width: 27px; height: 27px; background-color: #21242b; margin-left: auto; margin-right: auto;">
										<img alt="" src="../img/appover.png" />
									</div>
									<div id="collapseOne"
										style="width: 50%; margin-top: 14px; margin-left: auto; margin-right: auto;">
										<div style="width: 100px;">
											<span ng-model="appcolor" ng-init="appcolor='#8e9094'" id="appcolor"
												style="color: {{appcolor}}; font-size: 20px; margin-left: 10px; font-family: Microsoft YaHei">产品列表</span>
										</div>
									</div>
								</div>
								<div style="border-bottom: 1px solid #34373e;height: 138px; padding-top: 40px;cursor: pointer;" ng-click="nListOfGoods()" 
								ng-show="chanpincaidan2" ng-init="chanpincaidan2='true'">
									<div 
										style="width: 27px; height: 27px; background-color: #21242b; margin-left: auto; margin-right: auto;">
										<img alt="" src="../img/appover.png" />
									</div>
									<div id="collapseOne"
										style="width: 50%; margin-top: 14px; margin-left: auto; margin-right: auto;">
										<div style="width: 100px;">
											<span 
												style="color: #458fe9; font-size: 20px; margin-left: 10px; font-family: Microsoft YaHei">产品列表</span>
										</div>
									</div>
								</div>
								<div style="border-bottom: 1px solid #34373e;height: 138px; padding-top: 40px;cursor: pointer;" ng-click="nmyApplicationList()" ng-mouseover="insover()"
								ng-show="yingyongcaidan1" ng-init="yingyongcaidan1='true'"
								ng-mouseleave="insleave()">
									<div ng-show="instanceShowpng1" ng-init="instanceShowpng1='true'" ng-model="instanceShowpng1"
										style="width: 27px; height: 27px; background-color: #21242b; margin-left: auto; margin-right: auto;">
										<img alt="" src="../img/instanceShow.png" />
									</div>
									<div ng-show="instanceShowpng2"  ng-model="instanceShowpng2"
										style="width: 27px; height: 27px; background-color: #21242b; margin-left: auto; margin-right: auto;">
										<img alt="" src="../img/instanceover.png" />
									</div>
									<div id="collapsetwo"
										style="width: 50%; margin-top: 14px; margin-left: auto; margin-right: auto;">
										<div style="width: 100px;">
											<span ng-model="inscolor" ng-init="inscolor='#8e9094'" id="inscolor"
												style="color:{{inscolor}}; font-size: 20px; margin-left: 10px; font-family: Microsoft YaHei">我的应用</span>
										</div>
									</div>
								</div>
								<div style="border-bottom: 1px solid #34373e;height: 138px; padding-top: 40px;cursor: pointer;" ng-click="nmyApplicationList()" 
								ng-show="yingyongcaidan2">
									<div 
										style="width: 27px; height: 27px; background-color: #21242b; margin-left: auto; margin-right: auto;">
										<img alt="" src="../img/instanceover.png" />
									</div>
									<div id="collapseOne"
										style="width: 50%; margin-top: 14px; margin-left: auto; margin-right: auto;">
										<div style="width: 100px;">
											<span 
												style="color: #458fe9; font-size: 20px; margin-left: 10px; font-family: Microsoft YaHei">我的应用</span>
										</div>
									</div>
								</div>
								<!-- <hr style="height: 1px; color: #34373e; padding: 0px;" /> -->
							</div>

						</div>
					</td>
					<!--右侧列表页-->
					 <td style="width: 80%;height: auto;padding: 30px;background-color: #eff3f6">
						<div>
							<table class="table"
								style="height: 100%; width: 100%; border-width: 1px;">
								<tbody style="height: 100%; padding: 0px;">
									<tr style="height: 100%; padding: 2px;">
										<td
											style="width: 100%; height: auto; padding: 0px; border-color: #dcdedd;">
											<ul id="myTab" class="nav nav-tabs"
												style="background-color: #f7f7f7">
												<li class="active" ng-show="ListOfGoodsTab"
													ng-model="ListOfGoodsTab"
													style="height: 70px; width: 190px; background-color: #f7f7f7">
						 							
													<a href="#ListOfGoodsTab" data-toggle="tab" style="height: 70px;border-top: 2px solid #3f8dce;">
															<img alt="" src="../img/templateShow.png" style="float: left;margin-left: 20px; margin-top: 8px;"/>
														
														<div style="float: left; margin-left: 14px;">
															<h4
																style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">产品列表</h4>
														</div>
													</a>
													
													
												</li>
												<li class="" ng-show="DetailsOfGoodsTab"
													ng-model="DetailsOfGoodsTab"
													style="height: 70px; width: 190px;background-color: #f7f7f7;">
													<img
													src="../img/close3.png" class="tabclost"
													ng-click="closeGoodsDetails()"> 
													<a href="#DetailsOfGoodsTab" data-toggle="tab" style="height: 70px;">
														<img alt="" src="../img/xiangqing.png" style="float: left;margin-left: 20px; margin-top: 8px;"/>
														<div style="float: left; margin-left: 14px;">
															<h4 style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">产品信息</h4>
														</div>
														
												</a>
												</li>
												<!-- <li class="" ng-show="ShoopingGoodsTab"
													ng-model="ShoopingGoodsTab"
													style="height: 70px; width: 190px">
													<a
													href="#ShoopingGoodsTab" data-toggle="tab" style="height: 70px;>
													<h4 style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">产品购买</h4></a>
												</li> -->
												<!-- <li class="" ng-show="theBillListTab"
													ng-model="theBillListTab"
													style="height: 70px; width: 190px"><a
													href="#theBillListTab" data-toggle="tab">
														<h4
															style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">账单列表</h4>
												</a></li> -->
												<li class="" ng-show="myApplicationListTab"
													ng-model="myApplicationListTab"
													style="height: 70px; width: 190px">
													<a href="#myApplicationListTab" data-toggle="tab" style="height: 70px;">
														<div style="float: left; margin-left: 20px; margin-top: 8px;">
															<img alt="" src="../img/instanceShow.png" />
														</div>
														<div style="float: left; margin-left: 14px;">
															<h4
																style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">我的应用</h4>
														</div>
												</a></li>
												<li class="" ng-show="myApplicationDetails"
													ng-model="myApplicationDetails"
													style="height: 70px; width: 190px">
													<img src="../img/close3.png" class="tabclost"
													ng-click="closeApplicationDetails()"> 
													<a href="#myApplicationDetails" data-toggle="tab" style="height: 70px;">
													<div style="float: left; margin-left: 20px; margin-top: 8px;">
															<img alt="" src="../img/xiangqing.png" />
													</div>
													<div style="float: left; margin-left: 14px;">
													<h4 style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">应用详情</h4>
													</div>
													</a>
												</li>
												<li class="" ng-show="myApplicationUsers"
													ng-model="myApplicationUsers"
													style="height: 70px; width: 200px"><img
													src="../img/close3.png" class="tabclost"
													ng-click="closemyApplicationUsers()"> 
													<a href="#myApplicationUsers" data-toggle="tab" style="height: 70px;">
														<div style="float: left; margin-left: 20px; margin-top: 8px;">
															<img alt="" src="../img/MRbianji.png" />
														</div>
														<div style="float: left; margin-left: 14px;">
														<h4 style="color: #5e6575; font-size: 20px; font-family: Microsoft YaHei">修改用户群</h4>
														</div>
												</a></li>
											</ul>
											<div class="tab-content" style="height: auto">
												<!--产品列表-->
												<div id="ListOfGoodsTab" class="tab-pane fade in active">
													<div style="" ng-show="ListOfGoods" ng-model="ListOfGoods">
														<div style="float: right; margin-top: 10px;">
															<div style="float: right">
																<form role="form">
																	<div style="margin-right: 20px; float: left">
																		<div class="form-group"
																			style="width: 220px;  float: right;">
																			<select class="form-control" style="background-color: #f7f7f7;font-size: 16px;color: #333333;font-family: Microsoft YaHei;"
																				 id="gettemplateBytemplateCategory" >
																				<option >产品分类过滤</option>
																				<option ng-repeat="temlate in templateCategoryList">{{temlate.templateCategory}}</option>
																			</select>
																		</div>
																	</div>
																	<div style="float: left; margin-right: 30px;">
																		
																		<div class="input-group"
																			style="width: 220px; ">
																			<input type="text" class="form-control" style="background-color: #f7f7f7;font-family: Microsoft YaHei;color: #333333;font-size: 16px;" 
																				placeholder="产品名称查询" ng-model="productName"
																				ng-init="productName=''"
																				ng-blur="gettemplatesBytemplateName()"> <span
																				class="input-group-btn">
																				<button ng-click="gettemplatesBytemplateName()"class="btn btn-default" type="button" style="background-color: #f7f7f7;font-family: Microsoft YaHei;color: #666666;">GO</button>
																			</span>
																		</div>
																	</div>
																</form>
															</div>
														</div>
														<div style="padding: 30px;">
														<table class="table" style="border-top: 1px solid #dededd;border-bottom: 1px solid #dededd;border-left: 1px solid #dededd;border-right:  1px solid #dededd">
															<thead>
																<tr style="background-color: #f7f7f7;font-size: 20px;color: #333333;height: 56px;">
																	<th style="width: 25%;padding-bottom: 10px;">产品名称</th>
																	<th style="width: 20%;padding-bottom: 10px;">分类</th>
																	<th style="width: 35%;padding-bottom: 10px;">描述</th>
																	<th style="width: 20%;padding-bottom: 10px;">操作</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat=" template in templateList" style="font-size: 20px;color: #666666;border-color: #eff0f0;font-family: Microsoft YaHei">
																	<td><a
																		href="" ng-click="showGoodsDetails(template.id)">{{template.productName}}</a></td>
																	<td>{{template.templateCategory}}</td>
																	<td>{{template.templateName}}</td>
																	<td><button type="button" style="height: 30px;background-color: #f7f7f7;font-size: 16px;color: #666666;font-family: Microsoft YaHei;"
																			class="btn btn-default btn-sm"
																			ng-click="BuyGoodsDetails(template.id)">购买</button></td>
																</tr>
															</tbody>
														</table>
														</div>
														<!--分页-->
														<nav aria-label="Page navigation"
															style="text-align: right; margin-right: 30px;">
															<ul class="pagination">
																<li><a ng-click="tePrevious()">&laquo;</a></li>

																<li ng-repeat="pi in tepagenum"
																	ng-class="{active: isActivePage(pi)}"><a
																	ng-click="teselectPage(pi)">{{ pi }}</a></li>

																<li><span>共{{pages}}页，{{totalSize}}条记录</span></li>
																<li><a ng-click="teNext()">&raquo;</a></li>
															</ul>
														</nav>
													</div>
												</div>
												<!-- 产品详情-->
												<div id="DetailsOfGoodsTab" class="tab-pane fade">
													<div style="" ng-show="DetailsOfGoodsTab"
														ng-model="DetailsOfGoodsTab">
														<div style="height: 40px;"></div>
														<div class="form-horizontal">
															<span ng-repeat="template in templates">
																<div class="form-group">
																	<label for="exampleInputEmail2"
																		class="col-sm-4 control-label"><span 
																		style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">产品名称:</span></label>
																	<div class="col-sm-6" style="margin-top: 8px;font-size: 20px;font-family: Microsoft YaHei;color: #333333" >
																		{{template.productName}}</div>
																</div>
																<div class="form-group">
																	<label for="exampleInputEmail2"
																		class="col-sm-4 control-label"><span
																		style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">版本号:</span></label>
																	<div class="col-sm-6" style="margin-top: 8px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;">
																		{{template.version}}</div>
																</div>
																<div class="form-group">
																	<label for="exampleInputEmail2"
																		class="col-sm-4 control-label"><span
																		style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">分类:</span></label>
																	<div class="col-sm-6" style="margin-top: 8px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;">
																		{{template.templateCategory}}</div>
																</div>
															</span>
															<div class="form-group" ng-show="Details"
																ng-model="Details">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">选择租户:</span></label>
																<div class="col-sm-6"
																	style="margin-top: 8px; width: 26%;">

																	<select class="form-control" ng-model="value"
																		ng-init="value='请选择租户'" style="margin-top: ;font-size: 20px;font-family: Microsoft YaHei;color: #333333;height: 40px;">
																		<option selected="selected">请选择租户</option>
																		<option ng-repeat="tenant in tetantList" value="{{tenant[0].id}}">{{tenant[0].name}}</option>
																	</select>
																</div>
															</div>
															<div class="form-group" ng-show="Details">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">设置用户群:</span></label>
																<div class="col-sm-6" style="margin-top: 13px;">

																	<div id="menuContent" class="content_wrap" style="background-color: white;">
																		<div class="zTreeDemoBackground left" style="background-color: white;">
																			<ul id="treeDemo1" class="ztree"
																				style="margin-top: 0; width: 100%;"></ul>
																		</div>
																	</div>
																</div>
															</div>
															<div class="form-group" style="margin-bottom: 50px;">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"></label>
																<div class="col-sm-6">
																	<button ng-show="Details" type="button"
																		class="btn btn-primary"
																		style="margin-top: 20px; margin-right: 20px;font-size: 20px;font-family: Microsoft YaHei;"
																		ng-click="createOrder()">确认购买</button>
																	<button type="button" class="btn btn-default"
																		style="margin-top: 20px;margin-left: 20px;background-color: #ededed;width: 80px;font-size: 20px;color: #666666;font-family: Microsoft YaHei;"
																		ng-click="closeGoodsDetails()">取消</button>
																	
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- 应用列表-->
												<div id="myApplicationListTab" class="tab-pane fade">
													<div style="" ng-show="myApplicationList"
														ng-modle="myApplicationList ">
														<div style="float: right; margin-top: 10px;">
															<div style="float: right">
																<form role="form">
																	<div style="margin-right: 20px; float: left">
																		<div class="form-group"
																			style="width: 220px; margin-right: 20px; float: right">
																			<select class="form-control" style="background-color: #f7f7f7;font-size: 16px;color: #333333;font-family: Microsoft YaHei;"
																		    id="getapplicationBytemplateCategory">
																				<option >应用分类过滤</option>
																				<option ng-repeat="temlate in templateCategoryList">{{temlate.templateCategory}}</option>
																			</select>
																		</div>
																	</div>
																	<div style="float: left; margin-right: 30px;">
																		<div class="input-group"
																			style="width: 220px; float: left;">
																			<input type="text" class="form-control" style="background-color: #f7f7f7;color: #333333; font-size: 16px; font-family: Microsoft YaHei"
																				placeholder="应用名称查询" ng-model="instanceName"
																				ng-init="instanceName=''"
																				ng-blur="getapplicationByInstanceName()"> <span
																				class="input-group-btn">
																				<button ng-click="getapplicationByInstanceName()" class="btn btn-default" type="button" style="background-color: #f7f7f7;">Go</button>
																			</span>
																		</div>
																	</div>
																</form>
															</div>
														</div>
														<div style="padding: 30px;">
															<table class="table" style="border-top: 1px solid #dededd;border-bottom: 1px solid #dededd;border-left: 1px solid #dededd;border-right:  1px solid #dededd">
															<thead>
																<tr style="background-color: #f7f7f7;font-size: 20px;color: #333333;height: 56px;">
																	<th style="width: 20%;">应用名称</th>
																	<th style="width: 20%;">分类</th>
																	<th style="width: 20%;">购买日期</th>
																	<th style="width: 20%;">状态</th>
																	<th style="width: 20%;">操作</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="paasOrder in applicationList" style="font-size: 20px;color: #666666;border-color: #eff0f0">
																	<td
																		ng-if="paasOrder.status==1&&paasOrder.paasInstance.instanceStatus!=1">
																		<a
																		href="#"
																		ng-click="showApplicationDetails(paasOrder.id)">{{paasOrder.paasTemplate.productName}}</a>
																	</td>
																	<td ng-if="paasOrder.status!=1"><a href="#"
																		ng-click="showApplicationDetails(paasOrder.id)">{{paasOrder.paasTemplate.productName}}</a></td>
																	<td
																		ng-if="paasOrder.status==1&&paasOrder.paasInstance.instanceStatus==1">
																		<a
																		href="#"
																		ng-click="showApplicationDetails(paasOrder.id)">{{paasOrder.paasInstance.instanceName}}</a>
																	</td>
																	<td>{{paasOrder.paasTemplate.templateCategory}}</td>
																	<td>{{paasOrder.crateDate}}</td>
																	<td ng-if="paasOrder.status==0">待审核</td>
																	<td
																		ng-if="paasOrder.status==1&&paasOrder.paasInstance.instanceStatus!=1">已审核</td>
																	<td
																		ng-if="paasOrder.status==1&&paasOrder.paasInstance.instanceStatus==1">运行中</td>
																	<td ng-if="paasOrder.status==2">驳回</td>
																	<td ng-if="paasOrder.status==3">撤销</td>
																	<td><button type="button"
																			class="btn btn-default btn-sm" style="height: 30px;background-color: #f7f7f7;font-size: 16px;color: #666666;font-family: Microsoft YaHei;"
																			ng-click="showApplicationUetails(paasOrder.id)">修改</button>
																		<button style="height: 30px;background-color: #f7f7f7;font-size: 16px;color: #666666;font-family: Microsoft YaHei;"
																			ng-if="!(paasOrder.status==1&&paasOrder.paasInstance.instanceStatus==1)"
																			type="button" class="btn btn-default btn-sm"
																			ng-click="repealorder(paasOrder.id)">撤销</button></td>
																</tr>
															</tbody>
														</table>
														</div>
														<!--分页-->
														<nav aria-label="Page navigation"
															style="text-align: right; margin-right: 30px;">
															<ul class="pagination">
																<li><a ng-click="appPrevious()">&laquo;</a></li>

																<li ng-repeat="pi in pagenum"
																	ng-class="{active: isActivePage(pi)}"><a
																	ng-click="appselectPage(pi)">{{ pi }}</a></li>

																<li><span>共{{pages}}页，{{totalSize}}条记录</span></li>
																<li><a ng-click="appNext()">&raquo;</a></li>
															</ul>
														</nav>
													</div>
												</div>
												<!--修改应用详情-->
												<div id="myApplicationUsers" class="tab-pane fade">
													<div style="" ng-show="myApplicationUsers"
														ng-modle="myApplicationUsers ">
														<div style="height: 40px;"></div>
														<div class="form-horizontal">

															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">应用名称:</span></label>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;"
																	ng-if="chapplicationDetails.paasInstance!=null">
																	{{chapplicationDetails.paasInstance.instanceName}}</div>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333"
																	ng-if="chapplicationDetails.paasInstance==null">
																	{{chapplicationDetails.paasTemplate.productName}}</div>
															</div>
															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">状态:</span></label>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333"
																	ng-if="chapplicationDetails.paasInstance==null">
																	待创建</div>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333"
																	ng-if="chapplicationDetails.paasInstance.instanceStatus==0">
																	待创建</div>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333"
																	ng-if="chapplicationDetails.paasInstance.instanceStatus==1">
																	运行中</div>
															</div>
															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">应用模块列表:</span></label>
																<div class="col-sm-6"
																	style="width: 425px; margin-top: 10px; height: 140px; overflow: auto; padding-right: 0px;">
																	
																	<table class="table" style="">
																		<tr style="height: 10%;background-color: #f7f7f7">
																			<td style="width: 40%"><span style="font-size: 20px;font-family: Microsoft YaHei;color: #333333">模块名称</span></td>
																			<td style="width: 60%"><span style="font-size: 20px;font-family: Microsoft YaHei;color: #333333">模块说明</span></td>
																			<td></td>
																			<td></td>
																			<td></td>
																		</tr> 
																		<tr style="height: 10%;border-color: #eff0f0;font-size: 20px;font-family: Microsoft YaHei;color: #666666;"
																			ng-repeat="paasSubservice in chapplicationDetails.paasSubservices">
																			<td style="width: 40%"><span ></span>{{paasSubservice.moduleName}}</td>
																			<td style="width: 60%">{{paasSubservice.moduleDes}}</td>
																			<td></td>
																			<td></td>
																			<td></td>
																		</tr>
																	</table>
																</div>
															</div>
															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">设置用户群:</span></label>
																<div class="col-sm-6" style="margin-top: 10px;">

																	<div id="menuContent2" class="content_wrap" style="">
																		<div class="zTreeDemoBackground left">
																			<ul id="treeDemo2" class="ztree"
																				style="margin-top: 0; width: 100%;"></ul>
																		</div>
																	</div>

																</div>
															</div>
														</div>
														<div class="form-group" style="margin-bottom: 80px;">
															<label for="exampleInputEmail2"
																class="col-sm-4 control-label"></label>
															<div class="col-sm-6" style="">
																<button type="button" class="btn btn-primary"
																	style=" margin-right: 20px;width:80px;font-size: 20px;font-family: Microsoft YaHei;"
																	ng-click="changeApplicationUser()">保存</button>
																	<button type="button" class="btn btn-default"
																		style="margin-left: 20px;background-color: #ededed;width:80px;font-size: 20px;font-family: Microsoft YaHei;color: #666666;"
																		ng-click="closemyApplicationUsers()">取消</button>
															</div>
														</div>
													</div>
												</div>
												<!--应用详情-->
												<div id="myApplicationDetails" class="tab-pane fade">
													<div style="" ng-show="myApplicationDetails"
														ng-modle="myApplicationDetails">
														<div style="height: 40px;"></div>
														<div class="form-horizontal">

															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">应用名称:</span></label>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;"
																	ng-if="applicationDetails.paasInstance!=null">
																	{{applicationDetails.paasInstance.instanceName}}</div>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;"
																	ng-if="applicationDetails.paasInstance==null">
																	{{applicationDetails.paasTemplate.productName}}</div>
															</div>
															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">状态:</span></label>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;"
																	ng-if="applicationDetails.paasInstance==null">
																	待创建</div>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;"
																	ng-if="applicationDetails.paasInstance.instanceStatus==0">
																	待创建</div>
																<div class="col-sm-6" style="margin-top: 10px;font-size: 20px;font-family: Microsoft YaHei;color: #333333;"
																	ng-if="applicationDetails.paasInstance.instanceStatus==1">
																	运行中</div>
															</div>
															<div class="form-group">
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">应用模块列表:</span></label>
																<div class="col-sm-6"
																	style="width: 425px; margin-top: 10px; height: 140px; overflow: auto; padding-right: 0px;">
																	<table class="table">
																		<tr style="height: 10%;background-color: #f7f7f7;">
																			<td><span style="font-size: 20px;font-family: Microsoft YaHei;color: #333333">模块名称</span></td>
																			<td><span style="font-size: 20px;font-family: Microsoft YaHei;color: #333333">模块说明</span></td>
																			<td></td>
																			<td></td>
																			<td></td>
																		</tr>
																		<tr style="height: 10%;border-color: #eff0f0;font-size: 20px;font-family: Microsoft YaHei;color: #666666"
																			ng-repeat="paasSubservice in applicationDetails.paasSubservices">
																			<td ng-if="applicationDetails.paasInstance==null"><a href="#">{{paasSubservice.moduleName}}</a></td>
																			<td ng-if="applicationDetails.paasInstance!=null"><a
																				href="{{http+applicationDetails.paasInstance.pubDns+applicationDetails.paasInstance.urlPrefix+paasSubservice.moduleUrl}}">{{paasSubservice.moduleName}}</a></td>
																			<td>{{paasSubservice.moduleDes}}</td>
																			<td></td>
																			<td></td>
																			<td></td>
																		</tr>
																	</table>
																</div>
															</div>
															<div class="form-group" >
																<label for="exampleInputEmail2"
																	class="col-sm-4 control-label"><span
																	style="font-size: 20px;font-family: Microsoft YaHei;color: #555555">用户群组:</span></label>
																<div class="col-sm-6" style="margin-top: 10px;">
																	<div id="menuContent2" class="content_wrap" style="">
																		<div class="zTreeDemoBackground left">
																			<ul id="treeDemo3" class="ztree"
																				style="margin-top: 0; width: 100%;"></ul>
																		</div>
																	</div>

																</div>
															</div>
														</div>
														<div class="form-group" style="margin-bottom: 80px;">
															<label for="exampleInputEmail2"
																class="col-sm-4 control-label"></label>
															<div class="col-sm-6" style="margin-top: 10px;">
																<button type="button" class="btn btn-default"
																	style="margin-left: 20px;background-color: #ededed;width:80px;font-size: 20px;font-family: Microsoft YaHei;color: #666666;"
																	ng-click="closeApplicationDetails()">取消</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 下边页脚 -->
	<!-- <div id="footer" ng-include="'../pages/footer.html'"
	style="width: 100%; padding: 0px;border: none;"></div> -->
	<!-- 自定义弹窗 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top: 15%;">
		<div class="modal-dialog" style="width: 460px;height: 230px;">
			<div class="modal-content" style="width: 460px;height: 230px;">
				<div style="margin-top: 60px;margin-left: 130px;margin-right: auto;">
					<div style="width: 60px;height: 60px;float: left;padding-top: 10px;"><img alt="" src="../img/waring2.png" style="height: 50px;width: 50px;"/></div>
					<div style="float: left;margin-left: 10px;"><h3><strong  id="myModalLabel" style="color: #333333;font-variant: small-caps;"> 请选择租户! </strong></h3></div>
				</div>
				<div style="margin-top: 160px;">
					<div ><button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 170px;width: 130px;height: 40px;"><span style="font-size: 20px;">OK</span></button></div>
				</div>
					
			</div>
		</div>
	</div>

</body>

</html>