a:hover {
	text-decoration: none;
}


#leftdiv{
	width: 10%;
	height: auto;
	float: left;
	padding: 0px;
	background-color: #21242b;
}
#rightdiv{
	width:90%;
	height: auto;
	float: left;
	border: 30px solid #eff3f6;
}
div.ng-scope{
	width:100%;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #5E6575;
	cursor: default;
	background-color: #f7f7f7;
	border: 1px solid #d8d8d8;
	border-bottom-color: transparent;
}
	
	tr {
		border: 1px solid #eff0f0;
	}
	
	tbody > tr {
		
		height: 60px;
	}
	th {
		text-align: center;
		font-size: 2rem;
		font-family: Microsoft YaHei;
		color: #333333;
		font-weight: 400;
	}
	td {
		text-align: center;
		vertical-align: middle;
		font-size: 1.8rem;
		font-family: Microsoft YaHei;
		color: #666666;
		font-weight: 300;
	}
	.table > tbody > tr > td {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: middle;
		border-top: 1px solid #ddd;
	}

	input[type="checkbox"] {
		margin-right: 10px;
	}
	
	.btn-default:focus, .btn-default:hover {
	    background-color: #458fe9;
	    background-position: 0 48px;
	    border-color:#377ed2;
	    color: #FFFFFF;
	}
	
	.nav-tabs > li.active > a {
		border-top: 2px solid #3f8dce;
	}
/* === SIDEBAR MENU === */
	.panel {
		border: 0;
		box-shadow: none;
	}
	
	.panel-default1 > .panel-heading {
		background-color: #3d3d3d;
	}
	.panel-default1 > .panel-heading:hover {
		background-color: #666;
	}
	.panel-default1 > .panel-heading  a {
		color: #FFF;
		display: block;
		padding: 8px 0px;
	}
	
	.list-group-item {
		padding-left: 25px;
		border: 0;
		background: #21242b;
	}
	.list-group-item:hover {
		background: #21242b;
        padding-left: 15px;
		transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: linear;	
	}
	a.list-group-item {
		color: #21242b;
	}
	a.list-group-item:active {
		color: #21242b;
	}
	a.list-group-item:hover {
		background: #21242b;
		color: #FFF;
		background-color: #21242b;
	}
	a.list-group-item:focus {
		
		background-color: #21242b;
	}
	/*a.list-group-item:visited  {*/
		/*color:#3d3d3d;*/
	/*}*/
	.solso-active {
		background: #21242b !important;
	}
	
	.list-group-item.no-border {
		border: 0;
	}	
	
	.panel-group .panel + .panel {
		margin-top: 0px;
	}	
/* === END SIDEBAR MENU === */

















