<!-- 标签页 -->
     <div style="width:100%;">
         <!-- 标签页头 -->
         <ul id="myTab" class="nav nav-tabs" ng-show="appTab">
             
             
             <li id="activeExample" ng-show="appexample_title"><a ng-click="appExample_fn()">应用实例</a></li>
            <li id="activeCreateEx" ng-show="createAppexample_title">
            	<button ng-click="closeEditExample_fn()" type="button" class="close" style="padding-left: 72px;
                 position: absolute;z-index: 9999;">
                     &times;
                 </button>
            <a ng-click="createExample_fn_title()">查看实例</a></li>
            
             <li id="activeEditEx" ng-show="editAppexample_title">
                 <button ng-click="closeEditExample_fn()" type="button" class="close" style="padding-left: 72px;
                 position: absolute;z-index: 9999;">
                     &times;
                 </button>

                 <a ng-click="editExample_fn()">
                 编辑实例
                 </a>
             </li>
            <!--  <li ng-show="appexample1"><a >删除实例</a></li> -->

         </ul>
         
		 <div style="height:20px;"></div>
         <!-- 标签页体 -->
         <div id="myTabContent" class="tab-content">
             <!-- 应用实例相关 -->
             <div class="tab-pane fade in active" id="appExample_id" ng-show="appExample">
                 <br/>
                 <!-- 按钮区 -->
                 <div class="btn-group">
                     <!-- <button type="button" class="btn btn-default" ng-click="createExample_fn()">创建实例</button> -->
                     <button type="button" class="btn btn-default" ng-click="editExample_fn()">编辑实例</button>
                     <!-- <button type="button" class="btn btn-default" ng-click="delExample_fn()">删除实例</button> -->
                 </div>
                 <br/>
                 <br/>
                 
                 <!-- 查询区 -->
                 <div style="width:100%;">
                             <form class="form-inline" role="form" ng-submit="searchExample_fn()">
                                 <div class="form-group" style="float:right">
                                     <div class="input-group">
				                    <input type="text" class="form-control" id="instanceName_S" placeholder="请输入名称">
				                    <span class="input-group-btn">
				                        <button class="btn btn-default" type="submit">Go!</button>
				                    </span>
			                	</div>
                                 </div>
								<div class="form-group" style="float:right;margin-right:20px;">
                                     <select class="form-control " id="byInstanceStatus">
                                     	 <option value="">按状态过滤</option>
                                         <option value="0">待创建</option>
                                         <option value="1">运行中</option>
                                         <option value="2">已取消</option>
                                     </select>
                                 </div>
                             </form>
                 </div>
                 <br/><br/><br/>

                 <!-- 响应式表格-->
                 <div class="table-responsive">
                     <table class="table table-bordered">

                         <thead>
                         <tr>
                             <th><input id="checkbox_1" class="checkbox_2" type="checkbox">模板ID</th>

                             <th>版本号</th>
                             <th>实例ID</th>
                             <th>实例名称</th>
                             <th>状态</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="Instance in instances">
                             <td><input class="checkbox_1" type="checkbox" value="{{Instance.instanceId}}">{{Instance.paasTemplate.templateId}}</td>
                             <td>{{Instance.version}}</td>
                             <td><a ng-click="createExample_fn()">{{Instance.instanceId}}</a></td>
                             <td>{{Instance.instanceName}}</td>

                             <td ng-if="Instance.instanceStatus == 0">待创建</td>
                             <td ng-if="Instance.instanceStatus == 1">运行中</td>
                             <td ng-if="Instance.instanceStatus == 2">已撤销</td>
                             
                         </tr>
                         </tbody>
                     </table>
                 </div>

             </div>
         
         	<!-- 编辑实例 -->
			 <div ng-show="editExample">
			 
			 	<form role="form" class="form-horizontal">

                            <div class="form-group">
                                <label for="templateID1" class="col-sm-2 control-label">模板ID</label>
								<div class="col-sm-10">
                                <input type="text" class="form-control" id="templateID1" value="{{Instance_s.paasTemplate.templateId}}" disabled="disabled">
								</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleID" class="col-sm-2 control-label">实例Id</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleID" value="{{Instance_s.instanceId}}" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleName" class="col-sm-2 control-label">实例名称</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleName" ng-model="Instance_s.instanceName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleVersion" class="col-sm-2 control-label">版本号</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="exampleVersion" ng-model="Instance_s.version">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleStatus" class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-10">
                                <select class="form-control" id="exampleStatus"  ng-model="Instance_s.instanceStatus">
                                    <option ng-selected="Instance_s.instanceStatus == 0" value="0">待审核</option>
                                    <option ng-selected="Instance_s.instanceStatus == 1" value="1">运行中</option>
                                    <option ng-selected="Instance_s.instanceStatus == 2" value="2">已撤销</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="visitPass" class="col-sm-2 control-label">访问秘钥</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="visitPass" ng-model="Instance_s.accessKey" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="publicArea" class="col-sm-2 control-label">公共域名</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="publicArea" ng-model="Instance_s.pubDns">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="preURL" class="col-sm-2 control-label">URL前缀</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="preURL" ng-model="Instance_s.urlPrefix">
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label for="templateCS1" class="col-sm-2 control-label">实例创建参数</label>
                                <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="templateCS1">
                               app_path_prefix:cre1_
                                max_users:100
                            </textarea>
                            </div>
                            </div> -->
                            <div class="form-group">
                                <label for="templateDI1" class="col-sm-2 control-label">服务URLs</label>
                                <div class="col-sm-10">
                                <!-- <textarea class="form-control" rows="3" id="templateDI1"> -->
                               <div class="table-responsive">
							  <table class="table table-bordered" >
							    <thead>
							      <tr>
							        <th>子服务名称</th>
							        <th>子路径</th>
							        <th>是否在Portal显示</th></tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="subService in subServices">
							        <td>{{subService.moduleName}}</td>
							        <td>{{subService.moduleUrl}}</td>
							        <td>{{subService.moduleIsDis}}</td></tr>
							     
							    </tbody>
							  </table>
							</div>
                           <!--  </textarea> -->
                            </div>
                            
                            </div>
                    <div class="form-group">
			    		<div class="col-sm-offset-2 col-sm-10">
			      		<button id="searchInstanceDetail" type="button" class="btn btn-default" ng-click="postEditInstance_fn()">提交</button>
			      		<button type="button" ng-click="cancleExample_fn()" class="btn btn-default" style="margin-left:30px;">取消</button>
			    		</div>
		  			</div>
                                                 
                   </form>
	 		</div>
         </div>
		
		<br/><br/>
	   
	     <!-- 分页 -->
	     <div ng-show="divPage"  style="float:right;position: static;margin-bottom: 1px;">
	         <ul class="pagination">
	             <li><a ng-click="Previous()">&laquo;</a></li>
	             
	             <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
					<a ng-click="selectPage(page)" >{{ page }}</a>
				 </li>
	             
	             <li><span>共{{pages}}页，{{totalSize}}条记录</span></li>
	             <li><a ng-click="Next()">&raquo;</a></li>
	         </ul>
	     </div>
     </div>
	
     
    