<!-- 标签页 -->
     <div id="instanceBody" style="width:100%;margin-right:2.5%;">
         <!-- 标签页头 -->
         <ul id="myTab" class="nav nav-tabs" ng-show="appTab" style="background-color: #f7f7f7;width:100%;height:70px;">
             <li id="activeExample" ng-show="appexample_title">
             	<a ng-click="appExample_fn()" style="width:208px;height:70px;padding-top:20px;border-left:0;">
             		<img alt="应用实例" src="../img/instanceShow.png"  style="padding-left:14px;"/>
             		<span style="padding-left:18px;font-family: Microsoft YaHei;font-size: 20px;color:#5E6575;">应用实例</span>
             	</a>
             </li>
            <li id="activeCreateEx" ng-show="createAppexample_title">
            	<button ng-click="closeEditExample_fn()" type="button" class="close" style="margin-left: 195px;margin-top: 3px;
                 position: absolute;z-index: 9999;">
                    <img alt="" src="../img/closeTemplate.png" width="15px" height="15px">
                 </button>
            	<a ng-click="createExample_fn_title()" style="width:208px;height:70px;padding-top:20px;">
            		<img alt="" src="../img/searchTemplate.png" style="padding-left:14px;"/>
            		<span style="padding-left:18px;font-family: Microsoft YaHei;font-size: 20px;color:#5E6575;">查看实例</span>
            	</a>
            </li>
            
             <li id="activeEditEx" ng-show="editAppexample_title">
                 <button ng-click="closeEditExample_fn()" type="button" class="close" style="margin-left: 195px;margin-top: 3px;
                 position: absolute;z-index: 9999;">
                     <img alt="" src="../img/closeTemplate.png" width="15px" height="15px">
                 </button>

                 <a ng-click="editExample_save_fn()" style="width:208px;height:70px;padding-top:20px;">
                 	<img alt="" src="../img/editTemplate.png" style="padding-left:14px;"/>
                 	<span style="padding-left:18px;font-family: Microsoft YaHei;font-size: 20px;color:#5E6575;">编辑实例</span>
                 </a>
             </li>
           

         </ul>
         
		
         <!-- 标签页体 -->
         <div id="myTabContent">
             <!-- 应用实例相关 -->
             <div  id="appExample_id" ng-show="appExample">
                
                <div class="tab-content tab-resource">
                	<div class="tab-pane fade active in" id="tab_51_1">
                	
                		<div class="form-toolbar" >
	                       	<div class="toolbar-left" style="margin-left:2% ;width:100%;margin-top:30px;">
			                   <!--  <button  class="btn btn-default" type="button" ng-click="createExample_fn()"><i class="tbicon-add button-image"></i>创建实例</button> -->
			                    <button  class="btn btn-default" type="button" ng-click="editExample_fn()"><i class="tbicon-edit button-image"></i>编辑实例</button>
	                    	</div>
	                    </div>
                 
                 
                 		<div style="width:100%; margin-top:40px;">
                             <form class="form-inline" role="form" style="margin-right:2%;" >
                                 <div class="form-group" style="float:right">
			                	<!-- 查询框 -->
			                	<div class="btn-group form-search">
                                        <div class="input-group">
                                            <input id="instanceName_S" type="text" placeholder="请输入名称" class="form-control">
                                            <span class="input-group-addon">
                                                <i class="picon-search" ng-click="searchExample_fn();"></i>
                                            </span>
                                        </div>
                                    </div>
                                 </div>
                                 <!-- 下拉框 -->
								<!-- <div class="form-group" style="float:right;margin-right:20px;">
                                     <select class="form-control " id="byInstanceStatus" style="background-color: #f7f7f7;height: 58px;width: 208px;text-align: center;font-family: Microsoft YaHei;font-size: 20px;color:#333333;font-weight: 300;">
                                     	 <option value="">按状态过滤</option>
                                     	 <option value="0">待创建</option>
                                         <option value="1">运行中</option>
                                         <option value="2">已取消</option>
                                     </select>
                                 </div> -->
                                 
                                 <div class="form-group" style="float:right;margin-right:20px;">
					                <div class="dropdown">
					                    <button class="btn btn-default dropdown-toggle" type="button" id="byInstanceStatusSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius:4px;height: 58px; font-size: 16px;color: #333; width:208px; background-color: #f7f7f7;">
					                        <h  id="choseText">按状态过滤</h>
					                        <span class="caret" style="margin-left:14px;"></span>
					                    </button>
					                    <ul id="byInstanceStatusUL" class="dropdown-menu" aria-labelledby="dropdownMenuStatue" style="width:208px;">
					                        <li><a ng-click="searchInstanceStatusLI_fn();"  value="">按状态过滤</a></li>
					                        <li><a ng-click="searchInstanceStatusLI_fn();"  value="0">待创建</a></li>
					                        <li><a ng-click="searchInstanceStatusLI_fn();"  value="1">运行中</a></li>
					                        <li><a ng-click="searchInstanceStatusLI_fn();"  value="2">已撤消</a></li>
					                        
					                    </ul>
				                    </div>
            					</div>
            					
                             </form>
           				</div>
           				<script type="text/javascript">
                                 	$("#byInstanceStatusSelect").click(function(){
                                 		var aa = $("#byInstanceStatusUL").css("display");
                                 		if(aa != "block"){
                                 			$("#byInstanceStatusUL").css("display","block");
                                 		}else{
                                 			$("#byInstanceStatusUL").css("display","");
                                 		}
                                 		
                                 	});
                                 	
                                 	
                                 	
                                 </script>
                	<!-- 响应式表格-->
                 	<div class="table-responsive table-content" style="width:96%;padding-top: 20px;margin-left:2%;">
                     	<table class="table table-bordered table-hover table-paas">
                         	<thead>
                         		<tr style="height: 56px;background-color: #f7f7f7;border-top: 1px solid #dcdedd">
                             		<th >
	                             		<!-- <span class="table-checkbox">
		                             		<div class="checker">
		                             			<span>
		                             				<input id="checkbox_1" class="checkbox_2" type="checkbox" >
		                             			</span>
		                             		</div>
		                             	</span>
		                             	&nbsp;&nbsp; -->模板ID
                             		</th>
		                             <th >版本号</th>
		                             <th >实例ID</th>
		                             <th >实例名称</th>
		                             <th >状态</th>
                         		</tr>
                         	</thead>
                         	<tbody>
                         		<tr ng-repeat="Instance in instances">
	                             <td>
	                             	<span class="table-checkbox">
							 			<div class="checker">
							 				<span class="">
							 					<input onclick="chooseChecked_fn();"  class="checkbox_1" type="checkbox" value="{{Instance.instanceId}}">
							 				</span>
							 			</div>
							 		</span>
							 			&nbsp;&nbsp;{{Instance.paasTemplate.templateId}}
	                             </td>
	                             <td>{{Instance.version}}</td>
	                             <td><a ng-click="createExample_fn()">{{Instance.instanceId}}</a></td>
	                             <td>{{Instance.instanceName}}</td>
	                             <td ng-if="Instance.instanceStatus == 0">待创建</td>
	                             <td ng-if="Instance.instanceStatus == 1">运行中</td>
	                             <td ng-if="Instance.instanceStatus == 2">已撤销</td>
                         		</tr>
                         </tbody>
                     </table>
                 	</div>
                 	<script>
                 	
					var chooseChecked_fn = function(event){
						event = event ? event : window.event; 
						var checkObj = event.srcElement ? event.srcElement : event.target; 
						 $("span[class=checked]").attr("class","");
						var spanObj = $(checkObj).parent();
						spanObj.attr("class","checked");
						
					}
				</script>
                 	<div class="main-page" style="margin-left: 2%;margin-right:2%;margin-top:3px;">
	            		<p class="page-info">
		                	<span class="page-size page-text">每页</span>
		                	<select class="form-control bs-select  page-size page-size-select" id="selectPageSize">
			                    <option value=5>5</option>
			                    <option value=10>10</option>
			                    <option value=20>20</option>
		                	</select>
		                	<span class="page-size page-text">条&nbsp;</span>共<span id="totalSize" ></span>&nbsp;条记录
	            		</p>
			            <div class="page-button">
			                <span class="page-number">转到第</span>
			                <input type="text" class="input-mini form-control">
			                <span class="page-text">页</span>
			                <button class="btn btn-default goto-page" id="turnAroundPage">跳转</button>
			            </div>
			            <ul class="pagination">
			                <li><a ng-click="Previous()">前一页</a></li>
			                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
								<a ng-click="selectPage(page)" >{{ page }}</a>
							 </li>
							 <li><span>共{{pages}}页</span></li>
			                <li><a ng-click="Next()">后一页</a></li>
			            </ul>
		        	</div>
                 	
                 </div>
                 </div>
             </div>
         
         	<!-- 编辑实例 -->
			 <div ng-show="editExample">
			 
			 	<form role="form" class="form-horizontal" style="margin-top: 40px;margin-left: 18rem;">

                            <div class="form-group" style="width:80rem;">
                                <label for="templateID1" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">模板ID</span></label>
								<div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="templateID1" value="{{Instance_s.paasTemplate.templateId}}" disabled="disabled">
								</div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="exampleID" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">实例Id</span></label>
                                <div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="exampleID" value="{{Instance_s.instanceId}}" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="exampleName" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">实例名称</span></label>
                                <div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="exampleName" ng-model="Instance_s.instanceName">
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="exampleVersion" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">版本号</span></label>
                                <div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="exampleVersion" ng-model="Instance_s.version">
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="exampleStatus" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">状态</span></label>
                                <div class="col-sm-10">
                                <select style="height: 45px;font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" class="form-control" id="exampleStatus"  ng-model="Instance_s.instanceStatus">
                                    <option ng-selected="Instance_s.instanceStatus == 0" value="0">待审核</option>
                                    <option ng-selected="Instance_s.instanceStatus == 1" value="1">运行中</option>
                                    <option ng-selected="Instance_s.instanceStatus == 2" value="2">已撤销</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="visitPass" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">访问秘钥</span></label>
                                <div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="visitPass" ng-model="Instance_s.accessKey" >
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="publicArea" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">公共域名</span></label>
                                <div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="publicArea" ng-model="Instance_s.pubDns">
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="preURL" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">URL前缀</span></label>
                                <div class="col-sm-10">
                                <input style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" type="text" class="form-control" id="preURL" ng-model="Instance_s.urlPrefix">
                                </div>
                            </div>
                            <div class="form-group" style="width:80rem;">
                                <label for="templateDI1" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">服务URLs</span></label>
                                <div class="col-sm-10">
                                
	                               <div class="table-responsive" style="height: 20rem;">
									  <table class="table table-bordered" >
									    <thead>
									      <tr style="height: 56px;">
									        <th style="vertical-align: middle;padding-left: 30px;font-weight: 400;font-size: 18px;">子服务名称</th>
									        <th style="vertical-align: middle;padding-left: 30px;font-weight: 400;font-size: 18px;">子路径</th>
									        <th style="vertical-align: middle;padding-left: 30px;font-weight: 400;font-size: 18px;">是否在Portal显示</th></tr>
									    </thead>
									    <tbody>
									      <tr ng-repeat="subService in subServices">
									        <td style="vertical-align: middle;padding-left: 30px;">{{subService.moduleName}}</td>
									        <td style="vertical-align: middle;padding-left: 30px;">{{subService.moduleUrl}}</td>
									        <td style="vertical-align: middle;padding-left: 30px;">{{subService.moduleIsDis}}</td></tr>
									     
									    </tbody>
									  </table>
								  </div>
                          
                            </div>
                            
                            </div>
                            <div class="form-group" style="margin-top:4.5rem;">
                                <div class="col-md-5 col-md-offset-2">
                                    <button id="searchInstanceDetail" type="button" class="btn btn-info btn-page" ng-click="postEditInstance_fn()">保存</button>
                                    <button type="button" class="btn btn-default margin-left-20 btn-page" ng-click="cancleExample_fn()">取消</button>
                                </div>
                            </div>
                   </form>
	 		</div>
         </div>
     </div>
	
     
    