     <div id="templateBody" style="width:100%;margin-right:2.5%;">
         <ul id="myTab" class="nav nav-tabs" ng-show="appTab" style="background-color: #f7f7f7;width:100%;height:70px;">
             <li id="activeTemplate"  ng-show="apptemplate1_title">
             	<a ng-click="appTemplate_fn()" style="width:208px;height:70px;padding-top:20px;border-left:0;">
             	<img alt="应用模板" src="../img/templateShow.png"  style="padding-left:14px;"/>
             		<span style="padding-left:16px;font-family: Microsoft YaHei;font-size: 20px;color:#5E6575;">应用模板</span>
             	</a>
             </li>
             <li id="activeEdit" ng-show="editTemplate_title">
                 <button ng-click="closeEditTemplate_fn()" type="button" class="close" style="margin-left: 195px;margin-top: 3px;
                 position: absolute;z-index: 9999;">
                     <img alt="" src="../img/closeTemplate.png" width="15px" height="15px">
                 </button>
                 <a ng-click="editTemplate_save_fn()" style="width:208px;height:70px;padding-top:20px;">
                 	<img alt="" src="../img/searchTemplate.png" style="padding-left:14px;"/>
                 	<span style="padding-left:16px;font-family: Microsoft YaHei;font-size: 20px;color:#5E6575;">查看模板</span>
                 </a>
             </li>
         </ul>

	
         
         <div id="myTabContent" >
            <div  ng-show="apptemplate1"  id="apptemplate">
           		<div class="tab-content tab-resource">
                	<div class="tab-pane fade active in" id="tab_51_1">
                	
		            	<div class="form-toolbar" >
	                       	<div class="toolbar-left" style="margin-left: 2%;margin-top:30px;width:100%;">
			                    <button  class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal"><i class="tbicon-add button-image"></i>导入模板</button>
			                    <button  class="btn btn-default" type="button" ng-click="editTemplate_fn()"><i class="tbicon-edit button-image"></i>查看模板</button>
			                    <button  class="btn btn-default" type="button" ng-click="delTemplate_fn()"><i class="tbicon-delete button-image"></i>删除模板</button>
			                    <button  disabled="disabled" class="btn btn-default" type="button" ng-click="checkOutTemplate_fn()"><i class="tbicon-setting button-image"></i>导出模板</button>
	                    	</div>
	                    </div>
	                    
                 		<div style="width:100%; margin-top:40px;">
                             <form class="form-inline" role="form" style="margin-right:2%;">
                                 <div class="form-group" style="float:right">
			                	<!-- 查询框 -->
			                	<div class="btn-group form-search">
                                        <div class="input-group">
                                            <input id="templateName_S" type="text" placeholder="请输入名称" class="form-control">
                                            <span class="input-group-addon">
                                                <i class="picon-search" ng-click="searchTemplate_fn();"></i>
                                            </span>
                                        </div>
                                    </div>
                                 </div>
                                 <!-- 下拉框 -->
								<!-- <div class="form-group" style="float:right;margin-right:20px;">
                                     <select class="form-control " id="byCategory" style="background-color: #f7f7f7;height: 58px;width: 208px;text-align: center;font-family: Microsoft YaHei;font-size: 20px;color:#333333;font-weight: 300;">
                                     	 <option value="">按分类过滤</option>
                                     	 <option ng-repeat="category in categorys" value="{{category}}">{{category}}</option>
                                     </select>
                                 </div> -->
                                 <div class="form-group" style="float:right;margin-right:20px;">
					                <div class="dropdown">
					                    <button class="btn btn-default dropdown-toggle" type="button" id="byCategorySelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius:4px;height: 58px; font-size: 16px;color: #333; width:208px; background-color: #f7f7f7;">
					                        <h  id="choseText">按分类过滤</h>
					                        <span class="caret" style="margin-left:14px;"></span>
					                    </button>
					                    <ul id="byCategoryUL" class="dropdown-menu" aria-labelledby="dropdownMenuStatue" style="width:208px;">
					                        <li><a ng-click="searchByCategoryLI_fn();"  value="">按状态过滤</a></li>
					                        <li ng-repeat="category in categorys" ><a ng-click="searchByCategoryLI_fn();" value="{{category}}">{{category}}</a></li>
					                    </ul>
				                    </div>
            					</div>
                                 <script type="text/javascript">
                                 	$("#byCategorySelect").click(function(){
                                 		var aa = $("#byCategoryUL").css("display");
                                 		if(aa != "block"){
                                 			$("#byCategoryUL").css("display","block");
                                 		}else{
                                 			$("#byCategoryUL").css("display","");
                                 		}
                                 		
                                 	});
                                 </script>
                             </form>
           				</div>
           				
                 <div class="table-responsive table-content " style="width:96%;padding-top: 20px;margin-left:2%;">
                     <table class="table table-bordered table-hover table-paas" >
                         <thead>
                         <tr >
                             <th >
                             	<!-- <span class="table-checkbox">
                             		<div class="checker">
                             			<span>
                             				<input id="checkbox_1" class="checkbox_2" type="checkbox" >
                             			</span>
                             		</div>
                             	</span> -->
                             	&nbsp;&nbsp;模板ID
                             </th>
                             <th>模板名称</th>
                             <th>版本号</th>

                             <th>模板类型</th>
                             <th>模板分类</th>

                         </tr>
                         </thead>

                         <tbody>
						 <tr ng-repeat="template in templates">
						 	<td>
						 		<span class="table-checkbox">
						 			<div class="checker">
						 				<span class="">
						 					<input onclick="chooseChecked_fn();"  class="checkbox_1" type="checkbox" value="{{template.id}}">
						 				</span>
						 			</div>
						 		</span>
						 		&nbsp;&nbsp;{{template.templateId}}
						 	 </td>
                             <td><a ng-click="a_searchTemplate_fn()">{{template.templateName}}</a></td>
                             <td>{{template.version}}</td>

                             <td>{{template.templateType}}</td>
                             <td>{{template.templateCategory}}</td>
						 </tr>
                         </tbody>
                     </table>
                 </div>
				
				<div class="main-page" style="margin-left: 2%;margin-right:2%;margin-top:3px;">
            		<p class="page-info">
	                	<span class="page-size page-text">每页</span>
	                	<select class="form-control bs-select  page-size page-size-select" id="selectPageSize">
		                    <option value=5>5</option>
		                    <option value=10>10</option>
		                    <option value=20>20</option>
	                	</select>
	                	<span class="page-size page-text">条</span>共&nbsp;{{totalSize}}&nbsp;条记录
            		</p>
	            <div class="page-button">
	                <span class="page-number">转到第</span>
	                <input type="text" class="input-mini form-control">
	                <span class="page-text">页</span>
	                <button class="btn btn-default goto-page" id="turnAroundPage">跳转</button>
	            </div>
	            <ul class="pagination">
	                <li><a ng-click="Previous()">前一页</a></li>
	                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
						<a ng-click="selectPage(page)" >{{ page }}</a>
					 </li>
					 <li><span>共{{pages}}页</span></li>
	                <li><a ng-click="Next()">后一页</a></li>
	            </ul>
        	</div>
        	
            		</div>
                 </div>
				
             </div>
			 
			 <div ng-show="editTemplate">
			 	<form class="form-horizontal" role="form" ng-submit="submitTemplate_fn()" style="margin-top: 40px;margin-left: 18rem;">
                		<div class="form-group" style="width:80rem;">
                    	<label for="templateId" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">模板ID</span></label>
						<div class="col-sm-10">
                           <input disabled="disabled" type="text" class="form-control myfont" style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;"  id="templateId" value="{{Template.templateId}}">
						</div>
                      	</div>
                       	<div class="form-group" style="width:80rem;">
                          <label for="version" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">版本号</span></label>
                          <div class="col-sm-10">
                          <input disabled="disabled" type="text" class="form-control " style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" id="version" value="{{Template.version}}">
                          </div>
                       </div>
                       <div class="form-group" style="width:80rem;">
                          <label for="templateName" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">模版名称</span></label>
                          <div class="col-sm-10">
                          <input disabled="disabled" type="text" class="form-control " id="templateName" style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" value="{{Template.templateName}}">
                          </div>
                       </div>
                       <div class="form-group" style="width:80rem;">
                          <label for="templateType" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">类型</span></label>
                          <div class="col-sm-10">
                          <!-- <select disabled="disabled" class="form-control " style="font-family: Microsoft YaHei;font-size: 17px;color:#555555;font-weight: 300; vertical-align: middle;" id="templateType">
                              <option value="{{Template.templateType}}">{{Template.templateType}}</option>
                              
                          </select> -->
                          <input disabled="disabled" type="text" class="form-control " id="templateType" style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" value="{{Template.templateType}}">
                          </div>
                       </div>
                       <div class="form-group" style="width:80rem;">
                          <label for="templateFL" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">分类</span></label>
                          <div class="col-sm-10">
                          <!-- <select disabled="disabled" class="form-control " style="font-family: Microsoft YaHei;font-size: 17px;color:#555555;font-weight: 300;vertical-align: middle;" id="templateFL">
                              <option value="{{Template.templateCategory}}">{{Template.templateCategory}}</option>
                          </select> -->
                          <input disabled="disabled" type="text" class="form-control " id="templateFL" style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" value="{{Template.templateCategory}}">
                          </div>
                       </div>
                       <div class="form-group" style="width:80rem;">
                          <label for="templateMS" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">使用模式</span></label>
                          <div class="col-sm-10">
                          <!-- <select disabled="disabled" class="form-control " style="font-family: Microsoft YaHei;font-size: 17px;color:#555555;font-weight: 300; vertical-align: middle;" id="templateMS">
                              <option value="{{Template.userMode}}">{{Template.userMode}}</option>
                             
                          </select> -->
                          <input disabled="disabled" type="text" class="form-control " id="templateMS" style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" value="{{Template.userMode}}">
                          </div>
                       </div>
                       <div class="form-group" style="width:80rem;">
                          <label for="uploadPerson" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">上传人</span></label>
                          <div class="col-sm-10">
                          <input disabled="disabled" type="text" class="form-control " style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" id="uploadPerson" value="{{Template.uploadPerson}}">
                          </div>
                       </div>
                       <div class="form-group" style="width:80rem;">
                          <label for="uploadDate" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">上传时间</span></label>
                          <div class="col-sm-10">
                          <input disabled="disabled" type="text" class="form-control " style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;" id="uploadDate" value="{{Template.uploadDate | date:'yyyy-MM-dd'}}">
                          </div>
                       </div>
                       
                       
                       <div class="form-group" style="width:80rem;">
                           <label for="templateList" class="col-md-2 control-label"><span style="font-family: Microsoft YaHei;font-size: 20px;color:#555555;font-weight: 300;">子服务列表</span></label>
                           <div class="col-sm-10">
                           
                           	<div class="table-responsive" style="height: 20rem;">
							  <table class="table table-bordered" >
							    <thead>
							      <tr style="height:56px;">
							        <th style="vertical-align: middle;padding-left: 30px;">子服务名称</th>
							        <th style="vertical-align: middle;padding-left: 30px;">子路径</th>
							        <th style="vertical-align: middle;padding-left: 30px;">是否在Portal显示</th></tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="subService in subServices">
							        <td style="vertical-align: middle;padding-left: 30px;">{{subService.moduleName}}</td>
							        <td style="vertical-align: middle;padding-left: 30px;">{{subService.moduleUrl}}</td>
							        <td style="vertical-align: middle;padding-left: 30px;">{{subService.moduleIsDis}}</td></tr>
							     
							    </tbody>
							  </table>
							</div>
                       </div>
                       </div>
                       
                      <div class="form-group" style="width:80rem; margin-top:3rem;">
			    		<div class="col-sm-offset-2 col-sm-10">
			      		
			      		<button type="button" ng-click="cancleTemplate_fn()" class="btn btn-default" style="background-color: #ededed;border: 0;color: #5e6576;">关闭</button>
			    		</div>
		  			</div>
             	</form>
	 		</div>
			 
		     <div>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				        	<form class="form-inline" role="form" id="uploadForm"
				        		 enctype="multipart/form-data;charset=utf-8">
					        <!-- 	header -->
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					                <h4 class="modal-title" id="myModalLabel">导入模板</h4>
					            </div>
					            <div class="modal-body" style="height: 140px;">
	                                 <div style="vertical-align: middle;margin-top:26px;">
		                                 <div class="form-group">
		                                     <label class="sr-only" for="inputfile">导入模板</label>
		                                     <input type="file" id="inputfile" name="file1"  id="file1" accept="*.zip" style="height:36px;font-size:16px;">
		                                 </div>
	                                    <div class="form-group">
	                                            <!-- <div class="checkbox">
	                                                <label>
	                                                    <input  id="overWriteExistId" type="checkbox" name="overWriteExist" /><span style="font-size:16px;padding-left:4px;">是否覆盖</span>
	                                                </label>
	                                            </div> -->
	                                            <span class="table-checkbox">
										 			<div class="checker">
										 				<span class="">
										 					<input  onclick="chooseChecked_fn();" id="overWriteExistId" type="checkbox" name="overWriteExist"/>
										 				</span>
										 			</div>
										 		</span>&nbsp;&nbsp;是否覆盖
	                                    </div>
                                    </div>
								</div>
					            <div class="modal-footer">
					                <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #ededed;border: 0;color: #5e6576;">关闭</button>
					                 <button type="button" class="btn btn-primary" ng-click="importTemplate_fn()" style="background-color: #458fe9;border: 0;color: #fff;">提交</button>
					            </div>
				            </form>
				        </div>
				    </div>
				</div>
		     </div>
         </div>
     </div>
     
    <script>
		var chooseChecked_fn = function(event){
			event = event ? event : window.event; 
			var checkObj = event.srcElement ? event.srcElement : event.target;
			var spanObj = $(checkObj).parent();
			if(spanObj.attr("class") == "checked" || spanObj.attr("class") == true){
				spanObj.attr("class","");
			}else{
				$("span[class=checked]").attr("class","");
				spanObj.attr("class","checked");
			}
		}
	</script>
    