<!-- 标签页 -->
     <div style="width:100%;margin-right:2.5%;">
         <!-- 标签页头 -->
         <ul id="myTab" class="nav nav-tabs" ng-show="appTab">
             <li id="activeTemplate"  ng-show="apptemplate1_title"><a ng-click="appTemplate_fn()">应用模板</a></li>
             <li id="activeEdit" ng-show="editTemplate_title">
                 <button ng-click="closeEditTemplate_fn()" type="button" class="close" style="padding-left: 72px;
                 position: absolute;z-index: 9999;">
                     &times;
                 </button>
                 <a ng-click="editTemplate_fn()">编辑模板</a></li>
         </ul>

		 <div style="height:20px;"></div>
         
         <!-- 标签页体 -->
         <div id="myTabContent" class="tab-content">
             
             <!-- 应用模板  -->
             <div  ng-show="apptemplate1" class="tab-pane fade in active" id="apptemplate">
                 <!-- 按钮区-->
                 <br/>
                 <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">导入模板</button>
                    <button type="button" class="btn btn-default" ng-click="editTemplate_fn()">编辑模板</button>
                    <button type="button" class="btn btn-default" ng-click="delTemplate_fn()">删除模板</button>
                    <button type="button" class="btn btn-default" ng-click="checkOutTemplate_fn()">导出模板</button>
                 </div>
                 <br/>
                 <br/>
                 <!--表单区 -->
                 <div style="width:100%;">
                             <form class="form-inline" role="form" ng-submit="searchTemplate_fn()">
                                 <div class="form-group" style="float:right">
			                     <div class="input-group">
				                    <input type="text" class="form-control" id="templateName_S" placeholder="请输入名称">
				                    <span class="input-group-btn">
				                        <button class="btn btn-default" type="submit">Go!</button>
				                    </span>
			                	</div>
                                 </div>
                                 
								<div class="form-group" style="float:right;margin-right:20px;">
                                     <select class="form-control ">
                                     	 <option value="">按分类过滤</option>
                                         <option value="">资源管理</option>
                                         <option value="">虚拟管理</option>
                                         <option value="">混合管理</option>
                                     </select>
                                 </div>
                             </form>
                 </div>
                 <br/><br/><br/>
                 <!-- 响应表格-->
                 <div class="table-responsive" style="width:100%;">
                     <table class="table table-bordered">

                         <thead>
                         <tr>
                             <th><input id="checkbox_1" class="checkbox_2" type="checkbox" >模板ID</th>
                             <th>模板名称</th>
                             <th>版本号</th>

                             <th>类型</th>
                             <th>分类</th>

                         </tr>
                         </thead>

                         <tbody>
						 <tr ng-repeat="template in templates">
						 	<td><input  class="checkbox_1" type="checkbox" value="{{template.id}}">{{template.templateId}}</td>
                             <td>{{template.templateName}}</td>
                             <td>{{template.version}}</td>

                             <td>{{template.templateType}}</td>
                             <td>{{template.templateCategory}}</td>
						 
						 </tr>
                         </tbody>
                     </table>

                 </div>

				
             </div>
			 
			 <!-- 编辑模板 -->
			 <div ng-show="editTemplate">
			 	<form class="form-horizontal" role="form" ng-submit="submitTemplate_fn()">
                	<div class="form-group">
                    	<label for="templateId" class="col-sm-2 control-label">模板ID</label>
						<div class="col-sm-10">
                           <input type="text" class="form-control" id="templateId" value="{{Template.templateId}}">
						</div>
                      	</div>
                       	<div class="form-group">
                          <label for="version" class="col-sm-2 control-label">版本号</label>
                          <div class="col-sm-10">
                          <input type="text" class="form-control" id="version" value="{{Template.version}}">
                          </div>
                       </div>
                       <div class="form-group" >
                          <label for="templateName" class="col-sm-2 control-label">模版名称</label>
                          <div class="col-sm-10">
                          <input type="text" class="form-control" id="templateName" value="{{Template.templateName}}">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="templateType" class="col-sm-2 control-label">类型</label>
                          <div class="col-sm-10">
                          <select class="form-control" id="templateType">
                              <option value="">容器类</option>
                              <option>虚拟</option>
                              <option>混合</option>
                          </select>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="templateFL" class="col-sm-2 control-label">分类</label>
                          <div class="col-sm-10">
                          <select class="form-control" id="templateFL">
                              <option>资源管理</option>
                              <option>虚拟管理</option>
                              <option>混合管理</option>
                          </select>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="templateMS" class="col-sm-2 control-label">使用模式</label>
                          <div class="col-sm-10">
                          <select class="form-control" id="templateMS">
                              <option value="1">共享</option>
                              <option value="2">独占</option>
                          </select>
                          </div>
                       </div>
                       <!-- <div class="form-group">
                         <label for="templateCS" class="col-sm-2 control-label">模板参数</label>
                         <div class="col-sm-10">
                         <textarea class="form-control" rows="3" id="templateCS">
                         ID  名称  类型  缺省值  描述
                      	 </textarea>
                       </div>
                       </div>
                       <div class="form-group">
                         <label for="templateDI" class="col-sm-2 control-label">依赖模板</label>
                         <div class="col-sm-10">
                         <textarea class="form-control" rows="3" id="templateDI">
                         ID  名称  版本 是否可选
                      	 </textarea>
                       </div>
                       </div> -->
                       <div class="form-group">
                           <label for="templateList" class="col-sm-2 control-label">子服务列表</label>
                           <div class="col-sm-10">
                           <!-- <textarea class="form-control" rows="3" id="templateList" disabled="disabled"> -->
                           
                           	<div class="table-responsive">
							  <table class="table table-bordered">
							    <thead>
							      <tr>
							        <th>子服务名称</th>
							        <th>子路径</th>
							        <th>是否在Portal显示</th></tr>
							    </thead>
							    <tbody>
							      <tr ng-repeat="subService in subServices">
							        <td>{{subService.moduleName}}</td>
							        <td>{{subService.moduleUrl}}</td>
							        <td>{{subService.moduleIsDis}}</td></tr>
							     
							    </tbody>
							  </table>
							</div>
                       <!-- </textarea> -->
                       </div>
                       </div>
                       <!--<div class="form-group">
                           <div class="col-sm-offset-2 col-sm-10">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" >向租户展示
                                   </label>
                               </div>
                           </div>
                       </div>-->
                      <div class="form-group">
			    		<div class="col-sm-offset-2 col-sm-10">
			      		<button type="submit" class="btn btn-default">提交</button>
			      		
			      		<button type="button" ng-click="cancleTemplate_fn()" class="btn btn-default" style="margin-left:30px;">取消</button>
			    		</div>
			    		
			      		
			    		
		  			</div>
             	</form>
	 		</div>
			 
			 <!-- 导入模板模态框 --><!-- enctype="multipart/form-data" -->
		     <div>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				        	<form class="form-inline" role="form" id="uploadForm"
				        		 enctype="multipart/form-data;charset=utf-8">
					        <!-- 	header -->
					            <div class="modal-header">
					                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					                <h4 class="modal-title" id="myModalLabel">导入模板</h4>
					            </div>
					          <!--   body -->
					            <div class="modal-body">
	                                 <div class="form-group">
	                                     <label class="sr-only" for="inputfile">导入模板</label>
	                                     <input type="file" id="inputfile" name="file1"  id="file1" accept="*.zip">
	                                 </div>
	                                 <!-- 是否覆盖 -->
                                    <!-- <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="overWriteExist" checked>是否覆盖
                                                </label>
                                            </div>
                                    </div> -->
								</div>
						<!-- 		footer -->
					            <div class="modal-footer">
					                <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					                 <button type="button" class="btn btn-primary" ng-click="importTemplate_fn()">提交</button>
					            </div>
				            </form>
				        </div>
				    </div>
				</div>
		     </div>
         
         </div>
		 
		 <br/>
		 <br/>
	     
	     <!-- 分页 -->
	     <div ng-show="divPage"  style="float:right;position: static;margin-bottom: 1px;">
	         <ul class="pagination">
	             <li><a ng-click="Previous()">&laquo;</a></li>
	             
	             <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
					<a ng-click="selectPage(page)" >{{ page }}</a>
				 </li>
	             
	             <li><span>共{{pages}}页，{{totalSize}}条记录</span></li>
	             <li><a ng-click="Next()">&raquo;</a></li>
	         </ul>
	     </div>
     </div>
	
     
    